

<ion-content padding class="login">

	<button color="yellow" ion-button clear full style="margin-top: 50px; font-size: 30px; text-transform: none;">Connect Club</button>
	<br><br><br>

	<form [formGroup]="loginform" (ngSubmit)="onloginClick()" novalidate>		
		<ion-item class="loginitem">
			<ion-label floating color="yellow">Enter email</ion-label>
			<ion-input class="datainput" type="email" formControlName ="email"></ion-input>
		</ion-item>
		<!-- Show errors for Email field-->
		<ion-item class="error" *ngIf="loginform.get('email').hasError('required') && loginform.get('email').touched" class="loginerror">
			<ion-label color="danger">Email required ..</ion-label>
		</ion-item>
		<ion-item *ngIf="loginform.get('email').hasError('invalidEmail') && loginform.get('email').touched && !loginform.get('email').hasError('required')" class="loginerror">
			<ion-label color="danger">Not a valid formatted email</ion-label>
		</ion-item>

		<ion-item class="loginitem">
		  <ion-label floating color="yellow">Enter Password</ion-label>
		  <ion-input class="datainput" type="password" formControlName="password"></ion-input>
		</ion-item>
		<!-- Show error for Password field -->
		<ion-item class="error" *ngIf="loginform.get('password').hasError('required') && loginform.get('password').touched" class="loginerror">
			<ion-label color="danger">Password can't be empty..</ion-label>
		</ion-item>
		<ion-item class="error" *ngIf="loginform.get('password').hasError('minlength') && loginform.get('password').touched" class="loginerror">
		  <ion-label color="danger">Should be at least 6 characters..</ion-label>
		</ion-item>
		<br>
		<button color="yellow" ion-button block outline type="submit" >Get in</button>
	</form>
	 
    <button color="yellow" ion-button clear full (click) ="forgotPassword()" style="text-transform: none;">Forgot password ? No problem</button>
 	<br>
    <button color="yellow" ion-button clear full (click)="onsignupClick()" style="text-transform: none">Still new ? sign up </button>

</ion-content>

