page-edit-profile {

	.container {
		background-color: #212121;
		padding: 6px;
	}
	.iconcolumn{
		text-align: right;
		margin: auto;
	}
	.icon-color {
		color: yellow;
		padding: 10px;
		font-size: 1.5em;
	}
	.colfour {
		text-align: left;
		padding-left: 15px !important;
	}
	.editlabel {
		color: yellow;
	}
	.datainput {
		background-color: black;
	}

}
