
<ion-header>

  <ion-navbar>
    <ion-title>Edit Profile</ion-title>
  </ion-navbar>

</ion-header>


<ion-content style="padding: 6px" class="card-background-page">

	<ion-card>
		<ion-row>
			<ion-col col-8>
				<ion-label>Update cover photo: </ion-label>
			</ion-col>
			<ion-col col-2 style="padding: 16px">
				<button style="background-color: white" (click)="captureCoverimage()" >
				 	<ion-icon name="camera"></ion-icon>
				</button>
			</ion-col>
			<ion-col col-2 style="padding: 16px">
				<button (click)="selectCoverimage()" style="background-color: white">
					<ion-icon name="image"></ion-icon>
				</button>
			</ion-col>
		</ion-row>
	</ion-card>
	<ion-row *ngIf="coverselected">
		<ion-col>
			<button style="float: right; text-transform: none"  ion-button color="primary" (click)="oncoverSubmit()">Save</button>
		</ion-col>
		<ion-col>
			<button style="text-transform: none" ion-button outline color="danger" (click)="oncoverCancel()">Cancel</button>
		</ion-col>
	</ion-row>
	<ion-card>
		<ion-row>
			<ion-col col-8 *ngIf="usertype == 'player'">
				<ion-label>Update profile photo: </ion-label>
			</ion-col>
			<ion-col col-8 *ngIf="usertype == 'club'">
				<ion-label>Update Logo: </ion-label>
			</ion-col>
			<ion-col col-2 style="padding: 16px">
				<button style="background-color: white" (click)="captureProfileiamge()">
				 	<ion-icon name="camera"></ion-icon>
				</button>
			</ion-col>
			<ion-col col-2 style="padding: 16px">
				<button (click)="selectProfileimage()" style="background-color: white">
					<ion-icon name="image"></ion-icon>
				</button>
			</ion-col>
		</ion-row>
	</ion-card>
	<ion-row *ngIf="profileselected">
		<ion-col>
			<button style="float: right; text-transform: none"  ion-button color="primary" (click)="onprofileSubmit()">Save</button>
		</ion-col>
		<ion-col>
			<button style="text-transform: none" ion-button outline color="danger" (click)="onprofileCancel()">Cancel</button>
		</ion-col>
	</ion-row>
	<ion-card>
		<ion-row>
			<ion-col col-10>
				<ion-label>Set club location: </ion-label>
			</ion-col>
			<ion-col col-2 style="padding: 16px">
				<button style="background-color: white" (click)="onmapClick()" >
				 	<ion-icon name="map"></ion-icon>
				</button>
			</ion-col>
		</ion-row>
	</ion-card>
	<ion-card>
		<ion-row>
			<ion-col>
				<ion-label>Update Name: </ion-label>
			</ion-col>
			<ion-col>
				<ion-input (click)="nameTouched()" value="name" [(ngModel)]="name" style="border-bottom: 1px solid blue">{{name}}</ion-input>
			</ion-col>
		</ion-row>
	</ion-card>
	<ion-row *ngIf="nameselected">
		<ion-col>
			<button style="float: right; text-transform: none"  ion-button color="primary" (click)="onnameSubmit()">Save</button>
		</ion-col>
		<ion-col>
			<button style="text-transform: none" ion-button outline color="danger" (click)="onnameCancel()">Cancel</button>
		</ion-col>
	</ion-row>
	
	<ion-card>
		<ion-row>
			<ion-col>
				<ion-label>Update Contact No: </ion-label>
			</ion-col>
			<ion-col>
				<ion-input (click)="contactTouched()" value="contactno" [(ngModel)]="contactno" style="border-bottom: 1px solid blue">{{contactno}}</ion-input>
			</ion-col>
		</ion-row>
	</ion-card>
	<ion-row *ngIf="contactselected">
		<ion-col>
			<button style="float: right; text-transform: none"  ion-button color="primary" (click)="oncontactSubmit()">Save</button>
		</ion-col>
		<ion-col>
			<button style="text-transform: none" ion-button outline color="danger" (click)="oncontactCancel()" >Cancel</button>
		</ion-col>
	</ion-row>
	<ion-card *ngIf="usertype == 'player'">
		<ion-row>
			<ion-col>
				<ion-label>Update Current Club: </ion-label>
			</ion-col>
			<ion-col>
				<ion-input (click)="clubTouched()" value="currentclub" [(ngModel)]="currentclub" style="border-bottom: 1px solid blue">{{currentclub}}</ion-input>
			</ion-col>
		</ion-row>
	</ion-card>
	<ion-row *ngIf="clubselected">
		<ion-col>
			<button style="float: right; text-transform: none" ion-button color="primary" (click)="onclubSubmit()" >Save</button>
		</ion-col>
		<ion-col>
			<button style="text-transform: none" ion-button outline color="danger" (click)="onclubCancel()" >Cancel</button>
		</ion-col>
	</ion-row>
	<br>
	<button style="bottom: 10px" ion-button block outline color="danger" (click)="onCancel()" >
		Not now
	</button>

</ion-content>
