
<ion-header>

  <ion-navbar color="black">
    <ion-title>Replies</ion-title>
  </ion-navbar>

</ion-header>


<ion-content id="content">
	<ion-grid *ngFor="let comment of comments,let i = index">
		<ion-row>
			<ion-col col-2>
				<ion-avatar>
					<img width="40px" height="40px" [src]="comment.profileimage" *ngIf="comment.profileimage">
				</ion-avatar>
			</ion-col>
			<ion-col id="grid">
				<h5>{{comment.username}}</h5>
				<p class="commentdata">{{comment.data}}</p>
				<ion-row>
					<ion-col col-5 class="likereplycol">
						<ion-label class="commentitem">
							1 hour ago
						</ion-label>
					</ion-col>
					<ion-col col-4 class="likereplycol">
						<ion-label class="commentitem">
							<ion-icon color="orange" name="thumbs-up"></ion-icon>&nbsp;100
						</ion-label>
					</ion-col>
					<ion-col class="likereplycol">
						<ion-label class="commentitem">
							Like
						</ion-label>
					</ion-col>
				</ion-row>
			</ion-col>
		</ion-row>
	</ion-grid>
</ion-content>
<ion-footer>
	<ion-grid>
		<ion-row class="footerrow">
			<ion-col col-2 class="footercol">
				<ion-avatar>
					<img class="footerimg" [src]="profileimage" *ngIf="profileimage">
				</ion-avatar>
			</ion-col>
			<ion-col class="footercol">
				<ion-textarea value="commentdata" [(ngModel)]="commentdata" placeholder="What you think ?"></ion-textarea>
			</ion-col>
			<ion-col col-2 *ngIf="commentdata" class="footercol" >
				<ion-icon color="orange" (click)="addchildComment()" name="send" style="font-size: 2.0em" ></ion-icon>
			</ion-col>
			<ion-col col-2 *ngIf="!commentdata" class="footercol">
				<ion-icon color="orange" name="happy" style="font-size: 2.0em" ></ion-icon>
			</ion-col>
		</ion-row>
	</ion-grid>
</ion-footer>
