	
page-mypost {

	
	.mypostcontent {
		background-color: #212121;
	}
	.mypostcard {
		margin: 1px;
		margin-bottom: 3px;
	}
	.cardcol {
		text-align: center;
		color: #2196F3;
	}
	.participants {
		background-color: #424242;
	}
	.cardcontent {
		background-color: black;
		color: yellow;
	}
}

