
<ion-header>

  <ion-navbar color="black">
    <ion-title>All participants</ion-title>
  </ion-navbar>

</ion-header>

<ion-content class="mypostcontent">
    
    <ion-card color="card" class="mypostcard">
        <ion-row>
          <ion-col class="cardcol">
            <ion-label *ngIf="participating > 1">
              <ion-icon name="people"></ion-icon>
              {{participating}} Teams Participating
            </ion-label>
            <ion-label *ngIf="participating == 1">
              <ion-icon name="person"></ion-icon>
              {{participating}} Team Participating
            </ion-label>
            <ion-label *ngIf="participating == 0">
              <ion-icon name="sad"></ion-icon>
              No Teams Participating
            </ion-label>
            <ion-label *ngIf="participating < 0">
              <ion-icon name="sad"></ion-icon>
              Something wrong. Please report it
            </ion-label>
          </ion-col>
        </ion-row>
    </ion-card>
    <ion-item class="participants">
        <ion-label color="yellow">All Participants</ion-label>
    </ion-item>

    <ion-list *ngFor="let user of users">
        <ion-card color="card">
            <ion-item class="participants">
                <ion-avatar item-left>
                    <img [src]="user.profileimage" *ngIf="user.profileimage">
                </ion-avatar>
                <h2 (click)="onUsernameClick(user.$key)">{{user.name || "Forgot to edit name"}}</h2>
            </ion-item>
            <ion-card-header class="participants">
                <span style="color: yellow">Contact details:</span>
            </ion-card-header>
            <ion-card-content class="cardcontent">
                <ion-row>
                    <ion-col>
                        <ion-label>Contact No: </ion-label>
                    </ion-col>
                    <ion-col>
                        <ion-label>{{user.contactno}}</ion-label>
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col>
                        <ion-label>Email: </ion-label>
                    </ion-col>
                    <ion-col>
                        <ion-label>{{user.email}}</ion-label>
                    </ion-col>
                </ion-row>
            </ion-card-content>
        </ion-card>
    </ion-list>
</ion-content>
