

<ion-header [class.show-header] = "showheader == true && hideheader == false" [class.hide-header] = "hideheader == true && showheader == false" >
    <ion-navbar style="background-color: #212121">
        <button ion-button menuToggle>
          <ion-icon color="white" name="menu"></ion-icon>
        </button>
        <ion-title color="white">
          Home
        </ion-title>
        <ion-buttons end>
            <button ion-button (click)="calluserdetails()">
                <ion-icon name="person" color="white"></ion-icon>
            </button>
        </ion-buttons>
    </ion-navbar>
</ion-header>

<ion-content class="home">

    <ion-refresher (ionRefresh)="doRefresh($event)">
        <ion-refresher-content style="background-color: #424242;color:white;border-radius: 50%"
          pullingIcon="arrow-dropdown"
          pullingText="Pull to refresh"
          refreshingSpinner="circles"
          refreshingText="Refreshing...">
        </ion-refresher-content>
    </ion-refresher>

    <ion-card color="card">      
        <div>
            <ion-row>
                <ion-col col-2>
                    <ion-avatar item-left style="padding: 5px">
                        <img [src]="profileimage" *ngIf="profileimage" style="height: 40px; width: 40px">
                    </ion-avatar>                                                     
                </ion-col>
                <ion-col col-10 (click)="onCreatePostClick()"> 
                    <ion-item>
                    <button color="yellow" ion-button full clear style="text-transform: none;font-size: small" >
                        Give a challenge to all club and player..
                    </button>
                    </ion-item>
                </ion-col>
            </ion-row>
        </div>
    </ion-card>
    <ion-card color="card">
        
    </ion-card>
    <ion-card style="height: 220px" color="background">
        <ion-card-header>
            <ion-row>
                <ion-col style="color: yellow">
                    Clubs to follow
                </ion-col>
                <ion-col style="text-align: right;color: yellow" (click)="clubstoFollow()">
                    View all
                </ion-col>
            </ion-row>
        </ion-card-header>
        <ion-scroll scrollX="true" style="height: 150px;" *ngIf="clubs.length > 0">
            <ion-card color="card" class="scroll-item" *ngFor="let club of clubs, let i = index" style="height: 100%; width: 100px">

                <ion-row style="height: 60px" *ngIf="i < 4">
                    <button ion-button full clear style="height: 100%">                        
                        <ion-avatar>
                            <img style="width: 60px; height: 60px; border-radius: 30px " [src]="club.profileimage" *ngIf="club.profileimage">
                        </ion-avatar>
                    </button>  
                </ion-row>
                <ion-row *ngIf="i < 4">
                    <button color="yellow" ion-button full clear>{{club.name}}</button>
                </ion-row>
                <ion-row *ngIf="i < 4">
                    <button color="card" (click)="follow(i)" ion-button full clear style="font-size: 1.2rem;color: #FF5722">                            
                        <ion-icon color="deeporange" name="person-add"></ion-icon><span style="width: 5px"></span>
                        Follow
                    </button>
                </ion-row>
            </ion-card>
        </ion-scroll>
        <ion-card *ngIf="clubs.length == 0" style="height:100%;width:100%;background-color: inherit">
            <div style="position: relative;top: 30%;left: 25%;color: gray">No clubs to follow</div>
        </ion-card>
    </ion-card>

    <!-- User Feed -->
    <ion-list *ngFor="let post of posts, let i = index">

        <ion-card *ngIf="post.posttype == 'tournament'" color="card">
            <div *ngIf="postmoreclicked[i]" class="morediv">
                <ion-item (click)="removepost(i,post)" class="moreitem">
                    <ion-icon name="close-circle"></ion-icon>
                    Remove it
                </ion-item>
            </div>
            <ion-item>
                <ion-avatar item-left>
                    <img [src]="post.userimage" *ngIf="post.userimage">
                </ion-avatar>
                <ion-icon  (click)="onmoreClick(i)" color="yellow" name="more" item-right></ion-icon>

                <h2 (click)="onUsernameClick(post.userId)">
                    {{post.username || "Forgot to edit name"}}
                </h2>
                <p>
                    <ion-icon name="time" color="#d2d2d2"></ion-icon>
                    <span color="red">{{posttime[i]}}</span>
                </p>
            </ion-item>

            <ion-card-content color="white" style="opacity: 0.6px">
                Organising a <b>{{post.sporttype}}</b> tournament on <b>{{post.eventdate}}</b> at {{post.eventvenue || "our club ground"}}
            </ion-card-content>
            <object data="../../assets/img/404.png" type="image/jpg" style="width: 100%;">
                <img [src]="post.imageurl" *ngIf="post.imageurl" style="height: 100%; width: 100%;">
                <div *ngIf="!post.imageurl" style="height: 200px;width: 100%;"></div>
            </object>
            <ion-card-content color="white" *ngIf="post.centuarea">
                {{post.centuarea}}
            </ion-card-content>
            <ion-card-content color="white" *ngIf="!post.centuarea">
               We are extreamly happy to organize this event in our club. We wish it will be a great tournament with your participation :)
            </ion-card-content>    
            
            <ion-row *ngIf="post.userId != authuid" style="padding: 5px 0px">
                <ion-col>
                    <button color="yellow" ion-button icon-left full clear>
                        <ion-icon name="person"></ion-icon>
                        {{post.participating}} Going
                    </button>
                </ion-col>
                <ion-col>
                    <!-- <button color="yellow" ion-button icon-left full clear>
                        <ion-icon name="car"></ion-icon>
                        <div>1.4km</div>
                    </button> -->
                </ion-col>
                <ion-col center text-center>
                    <button color="yellow" ion-button block outline icon-right (click)="onRulesClick(post.rules,post.participating,post.$key,post.userId)">
                        Rules
                        <ion-icon name="arrow-round-forward"></ion-icon>
                    </button>
                </ion-col>
            </ion-row>
            <button color="blue" *ngIf="post.userId == authuid" (click)="seeParticipants(post.$key)" ion-button block outline style="text-transform: none;margin-top: 20px;">See all participants</button>
        </ion-card>

        <ion-card *ngIf="post.posttype == 'hiring'" color="card">

            <div *ngIf="postmoreclicked[i]" class="morediv">
                <ion-item (click)="removepost(i,post)" class="moreitem">
                    <ion-icon name="close-circle"></ion-icon>
                    Remove it from feed
                </ion-item>
            </div>
            <ion-item>
                <ion-avatar item-left>
                    <img [src]="post.userimage" *ngIf="post.userimage">
                </ion-avatar>
                <ion-icon color="yellow" name="more" item-right (click)="onmoreClick(i)"></ion-icon>
                <h2 (click)="onUsernameClick(post.userId)">{{post.username || "Forgot to edit name"}}</h2>

                <p>
                    <ion-icon name="time" color="#d2d2d2"></ion-icon>
                    <span color="red">{{posttime[i]}}</span>
                </p>
            </ion-item>
            <ion-card-content color="white">
                Organising a <b>{{post.sporttype}}</b> event for <b>Hiring Players</b> on <b>{{post.eventdate}}</b><br>
                Interested plyers are requested to reach at {{post.eventvenue || "our club ground"}} 
            </ion-card-content>
            <object data="../../assets/img/404.png" type="image/jpg" style="width: 100%;">
                <img [src]="post.imageurl" *ngIf="post.imageurl" style="height: 100%; width: 100%;">
                <div *ngIf="!post.imageurl" style="height: 200px;width: 100%;"></div>
            </object>
            <ion-card-content color="white" *ngIf="post.honestarea">
                {{post.honestarea}}
            </ion-card-content>
            <ion-card-content color="white" *ngIf="!post.honestarea">
                The trial will be taken on <b>First come first</b> basis if many players wish to participate. So hurry up !!
            </ion-card-content>
            <ion-row *ngIf="post.userId != authuid">
                <ion-col col-4>
                    <button color="yellow" ion-button icon-left clear small>
                        <ion-icon name="person"></ion-icon>
                        <div>{{post.participating}} Going</div>
                    </button>
                </ion-col>
                <ion-col col-4>
                    <!-- <button color="yellow" ion-button icon-left clear small>
                        <ion-icon name="car"></ion-icon>
                        <div>1.4km</div>
                    </button> -->
                </ion-col>
                <ion-col center text-center col-4>
                    <button color="yellow" ion-button block outline icon-right (click)="onCriteriaClick(post.criteria,post.participating,post.$key,post.userId)">
                        Criteria
                        <ion-icon name="arrow-round-forward"></ion-icon>
                    </button>
                </ion-col>
            </ion-row>
            <button color="blue" *ngIf="post.userId == authuid" (click)="seeParticipants(post.$key)" ion-button block outline style="text-transform: none;margin-top: 20px">See all participants</button>
        </ion-card>
        

        <ion-card *ngIf="post.posttype == 'image'" color="card">

            <div *ngIf="postmoreclicked[i]" class="morediv">
                <ion-item (click)="removepost(i,post)" class="moreitem">
                    <ion-icon name="close-circle"></ion-icon>
                    Remove it
                </ion-item>
            </div> 
            <ion-item>
                <ion-avatar item-left>
                    <img [src]="post.userimage" *ngIf="post.userimage">
                </ion-avatar>
                <ion-icon color="yellow" name="more" color="yellow" item-right (click)="onmoreClick(i)"></ion-icon>

                <h2 (click)="onUsernameClick(post.userId)">{{post.username || "Forgot to edit name"}}</h2>
                <p>
                    <ion-icon name="time" color="#d2d2d2"></ion-icon>
                    <span color="red">{{posttime[i]}}</span>
                </p>
            </ion-item>
            <ion-card-content color="white">
                {{post.title}}
            </ion-card-content>
            <object data="../../assets/img/404.png" type="image/jpg" style="width: 100%;">
                <img [src]="post.imageurl" *ngIf="post.imageurl" style="height: 100%; width: 100%;">
                <div *ngIf="!post.imageurl" style="height: 200px;width: 100%;"></div>
                <video width="100%" height="100%px" *ngIf="post.videourl" controls>
                    <source [src]="post.videourl" type="video/mp4">
                </video>
            </object>
            
            <ion-row style="height: 25px;margin: inherit;text-align: center;margin-top:35px">
                <ion-col col-1 style="padding: 4px; height: 100%">
                    <div style="border-radius: 20px;background-color:#ff5722;width: 100%;height: 100%">             
                        <ion-icon style="padding-bottom: 2px;font-size: .8em" name="thumbs-up" color="white"></ion-icon>
                    </div>
                </ion-col>
                <ion-col col-5 *ngIf="nooflikes[i] > 1 && liked[i]" style="text-align: left;padding-top: 2px">
                    <ion-note color="green"> You and {{nooflikes[i] - 1}}&nbsp;others</ion-note>
                </ion-col>
                <ion-col col-5 *ngIf="nooflikes[i] == 1 && liked[i]" style="text-align: left;padding-top: 2px">
                    <ion-note color="green"> You liked</ion-note>
                </ion-col>
                <ion-col col-5 *ngIf="nooflikes[i] == 1 && !liked[i]" style="text-align: left;padding-top: 2px">
                    <ion-note color="green">1&nbsp;other liked</ion-note>
                </ion-col>
                <ion-col col-5 *ngIf="nooflikes[i] == 0 && !liked[i]"></ion-col>

                <ion-col style="text-align: right;padding-top: 2px">
                    <ion-note color="red" *ngIf="noofdislikes[i] != 0">{{noofdislikes[i]}}&nbsp;Dislikes</ion-note>
                    <ion-note color="yellow" *ngIf="noofcomments[i] != 0">{{noofcomments[i]}}&nbsp;Comments</ion-note>
                </ion-col>
            </ion-row>
            <ion-row style="border: 1px solid #3a3a3a; margin: inherit">
                <ion-col>
                    <div>
                        <button (click)="likePost(post.$key,i)" style="color:#e040fb" ion-button icon-center full clear class="scorebutton">
                            <ion-icon [@like]="liked[i] == true ? 'ltrue':'lfalse'" style="font-size: 1.3em;padding-bottom:3px" name="thumbs-up" [class.gray-color]="liked[i] == false" ></ion-icon>
                            &nbsp;
                            <div [class.gray-color]="liked[i] == false" style="font-size:1.2rem;font-weight:500">Like</div>
                        </button>
                    </div>
                </ion-col>
                <ion-col>
                        <div>
                        <button (click)="dislikePost(post.$key,i)" color="red" ion-button icon-center full clear class="scorebutton">
                            <ion-icon [@dislike]="disliked[i] == true ? 'dtrue':'dfalse'" style="font-size: 1.3em;padding-top:3px" name="thumbs-down" [class.gray-color]="disliked[i] == false" ></ion-icon>
                            &nbsp;
                            <div [class.gray-color]="disliked[i] == false" style="font-size: 1.2rem;font-weight:500">Dislike</div>
                        </button>
                    </div>
                </ion-col>
                <ion-col>
                    <div>                        
                        <button (click)="commentPost(post.$key)" ion-button color="yellow" icon-center full clear class="scorebutton">
                            <ion-icon style="font-size: 1.4em" name="chatboxes"></ion-icon>
                            &nbsp;
                            <div style="font-size: 1.2rem;font-weight:500">Comment</div>
                        </button>
                    </div>
                </ion-col>
            </ion-row>
        </ion-card>
        <ion-card *ngIf="post.posttype == 'youtube'" color="card">

            <div *ngIf="postmoreclicked[i]" class="morediv">
                <ion-item (click)="removepost(i,post)" class="moreitem">
                    <ion-icon name="close-circle"></ion-icon>
                    Remove it
                </ion-item>
            </div> 
            <ion-item>
                <ion-avatar item-left>
                    <img [src]="post.userimage" *ngIf="post.userimage">
                </ion-avatar>
                <ion-icon color="yellow" name="more" item-right (click)="onmoreClick(i)"></ion-icon>

                <h2 (click)="onUsernameClick(post.userId)">{{post.username || "Forgot to edit name"}}</h2>
                <p>
                    <ion-icon name="time" color="#d2d2d2"></ion-icon>
                    <span color="red">{{posttime[i]}}</span>
                </p>
            </ion-item>
            <ion-card-content color="white">
                {{post.title}}
            </ion-card-content>
            <div>                
                <iframe width="100%" height="250" [src]="post.youtubelink | youtube" frameborder="0" allowfullscreen></iframe>
            </div>
            <ion-row style="height: 23px;margin: inherit;text-align: center;margin-top:35px">
                <ion-col col-1 style="padding: 3px;height: 100%">
                <div style="border-radius: 20px;background-color:#ff5722;width: 100%;height: 100%">             
                    <ion-icon style="padding-bottom: 2px;font-size: .9em" name="thumbs-up" color="white"></ion-icon>
                </div>
                </ion-col>
                <ion-col col-5 *ngIf="nooflikes[i] > 1 && liked[i]" style="text-align: left;padding-top: 2px">
                    <ion-note color="green"> you and {{nooflikes[i] - 1}}&nbsp;others</ion-note>
                </ion-col>
                <ion-col col-5 *ngIf="nooflikes[i] == 1 && liked[i]" style="text-align: left;padding-top: 2px">
                    <ion-note color="green"> you liked</ion-note>
                </ion-col>
                <ion-col col-5 *ngIf="nooflikes[i] == 1 && !liked[i]" style="text-align: left;padding-top: 2px">
                    <ion-note color="green">1&nbsp;other liked</ion-note>
                </ion-col>
                <ion-col col-5 *ngIf="nooflikes[i] == 0 && !liked[i]"></ion-col>

                <ion-col style="text-align: right;padding-top: 2px">
                    <ion-note color="red" *ngIf="noofdislikes[i] != 0">{{noofdislikes[i]}}&nbsp;Dislikes</ion-note>
                    <ion-note color="yellow" *ngIf="noofcomments[i] != 0">{{noofcomments[i]}}&nbsp;Comments</ion-note>
                </ion-col>
            </ion-row>
            <ion-row style="border: 1px solid #3a3a3a; margin: inherit">
                <ion-col>
                    <div>
                        <button (click)="likePost(post.$key,i)" style="color:#e040fb" ion-button icon-center full clear class="scorebutton">
                            <ion-icon [@like]="liked[i] == true ? 'ltrue':'lfalse'" style="font-size: 1.3em;padding-bottom:3px" name="thumbs-up" [class.gray-color]="liked[i] == false" ></ion-icon>
                            &nbsp;
                            <div [class.gray-color]="liked[i] == false" style="font-size:1.2rem;font-weight:500">Like</div>
                        </button>
                    </div>
                </ion-col>
                <ion-col>
                    <div>
                        <button (click)="dislikePost(post.$key,i)" color="red" ion-button icon-center full clear class="scorebutton">
                            <ion-icon [@dislike]="disliked[i] == true ? 'dtrue':'dfalse'" style="font-size: 1.3em;padding-top:3px" name="thumbs-down" [class.gray-color]="disliked[i] == false" ></ion-icon>
                            &nbsp;
                            <div [class.gray-color]="disliked[i] == false" style="font-size: 1.2rem;font-weight:500">Dislike</div>
                        </button>
                    </div>
                </ion-col>
                <ion-col>
                    <div>                        
                        <button (click)="commentPost(post.$key)" ion-button color="yellow" icon-center full clear class="scorebutton">
                            <ion-icon style="font-size: 1.4em" name="chatboxes"></ion-icon>
                            &nbsp;
                            <div style="font-size: 1.2rem;font-weight:500">Comment</div>
                        </button>
                    </div>
                </ion-col>
            </ion-row>
        </ion-card>

        <ion-card *ngIf="post.posttype == 'score' && post.sporttype == 'cricket' && post.crickettype == 'odi'" color="card">

            <div *ngIf="postmoreclicked[i]" class="morediv">
                <ion-item (click)="removepost(i,post)" class="moreitem">
                    <ion-icon name="close-circle"></ion-icon>
                    Remove it
                </ion-item>
            </div>
            <ion-item>
                <ion-avatar item-left>
                   <img [src]="post.userimage" *ngIf="post.userimage">
                </ion-avatar>
                <ion-icon color="yellow" name="more" item-right (click)="onmoreClick(i)"></ion-icon>

                <h2 (click)="onUsernameClick(post.userId)">
                    {{post.username || "Forgot to edit name"}}
                </h2>
                <p>
                    <ion-icon name="time" color="#d2d2d2"></ion-icon>
                    <span>{{posttime[i]}}</span>
                </p>
            </ion-item>
            <ion-card-header color="heading">
                 Cricket Score Update:
            </ion-card-header>
            <div style="text-align: center" >
                <p style="text-transform: capitalize;color: #2196F3">
                    {{post.teamone}} vs {{post.teamtwo}}
                </p>
            </div>
            <div *ngIf="post.tosswon == 'teamone'" style="text-align: center">
                <p style="color: #2196F3">{{post.teamone}} won toss and elected {{post.elected}} first</p> 
            </div>
            <div *ngIf="post.tosswon == 'teamtwo'" style="text-align: center">
                <p style="color: #2196F3">{{post.teamtwo}} won toss and elected {{post.elected}} first</p>
            </div>
            <div *ngIf="(post.tosswon == 'teamone' && post.elected == 'batting') || (post.tosswon == 'teamtwo' && post.elected == 'bowling')" style="text-align: center;margin-top: 10px">
                <p style="color: yellow">
                    Scorecard of {{post.teamone}} <span style="width: 5px"></span>
                    <ion-icon name="happy"></ion-icon>
                </p>
            </div>
            <div *ngIf="(post.tosswon == 'teamtwo' && post.elected == 'batting') || (post.tosswon == 'teamone' && post.elected == 'bowling')" style="text-align: center;margin-top: 10px">
                <p style="color: yellow">
                    Scorecard of {{post.teamtwo}} <span style="width: 5px"></span>
                    <ion-icon name="happy"></ion-icon>
                </p>
            </div>
            <ion-row style="background-color: black;margin-right: 5px;margin-left: 5px">
                <ion-col col-3></ion-col>
                <ion-col col-5><ion-item color="white">Runs Scored</ion-item></ion-col>
                <ion-col col-3><ion-item color="white">{{post.runsscored}}</ion-item></ion-col>
                <ion-col col-1></ion-col>
            </ion-row>
            <ion-row style="background-color: black;margin-right: 5px;margin-left: 5px">
                <ion-col col-3></ion-col>
                <ion-col col-5><ion-item color="white">Wicket Lost</ion-item></ion-col>
                <ion-col col-3><ion-item color="white">{{post.wickets}}</ion-item></ion-col>
                <ion-col col-1></ion-col>
            </ion-row>
            <ion-row style="background-color: black;margin-right: 5px;margin-left: 5px">
                <ion-col col-3></ion-col>
                <ion-col col-5><ion-item color="white">Overs Bowled</ion-item></ion-col>
                <ion-col col-3><ion-item color="white">{{post.overs}}</ion-item></ion-col>
                <ion-col col-1></ion-col>
            </ion-row>
            <ion-row style="height: 23px;margin: inherit;text-align: center;margin-top:35px">
                <ion-col col-1 style="padding: 3px;height: 100%">
                <div style="border-radius: 20px;background-color:#ff5722;width: 100%;height: 100%">             
                    <ion-icon style="padding-bottom: 2px;font-size: .9em" name="thumbs-up" color="white"></ion-icon>
                </div>
                </ion-col>
                <ion-col col-5 *ngIf="nooflikes[i] > 1 && liked[i]" style="text-align: left;padding-top: 2px">
                    <ion-note color="green"> you and {{nooflikes[i] - 1}}&nbsp;others</ion-note>
                </ion-col>
                <ion-col col-5 *ngIf="nooflikes[i] == 1 && liked[i]" style="text-align: left;padding-top: 2px">
                    <ion-note color="green"> you liked</ion-note>
                </ion-col>
                <ion-col col-5 *ngIf="nooflikes[i] == 1 && !liked[i]" style="text-align: left;padding-top: 2px">
                    <ion-note color="green">1&nbsp;other liked</ion-note>
                </ion-col>
                <ion-col col-5 *ngIf="nooflikes[i] == 0 && !liked[i]"></ion-col>

                <ion-col style="text-align: right;padding-top: 2px">
                    <ion-note color="red" *ngIf="noofdislikes[i] != 0">{{noofdislikes[i]}}&nbsp;Dislikes</ion-note>
                    <ion-note color="yellow" *ngIf="noofcomments[i] != 0">{{noofcomments[i]}}&nbsp;Comments</ion-note>
                </ion-col>
            </ion-row>
            <ion-row style="border: 1px solid #3a3a3a; margin: inherit">
                <ion-col>
                    <div>
                        <button (click)="likePost(post.$key,i)" style="color:#e040fb" ion-button icon-center full clear class="scorebutton">
                            <ion-icon [@like]="liked[i] == true ? 'ltrue':'lfalse'" style="font-size: 1.3em;padding-bottom:3px" name="thumbs-up" [class.gray-color]="liked[i] == false" ></ion-icon>
                            &nbsp;
                            <div [class.gray-color]="liked[i] == false" style="font-size:1.2rem;font-weight:500">Like</div>
                        </button>
                    </div>
                </ion-col>
                <ion-col>
                    <div>
                        <button (click)="dislikePost(post.$key,i)" color="red" ion-button icon-center full clear class="scorebutton">
                            <ion-icon [@dislike]="disliked[i] == true ? 'dtrue':'dfalse'" style="font-size: 1.3em;padding-top:3px" name="thumbs-down" [class.gray-color]="disliked[i] == false" ></ion-icon>
                            &nbsp;
                            <div [class.gray-color]="disliked[i] == false" style="font-size: 1.2rem;font-weight:500">Dislike</div>
                        </button>
                    </div>
                </ion-col>
                <ion-col>
                    <div>                        
                        <button (click)="commentPost(post.$key)" ion-button color="yellow" icon-center full clear class="scorebutton">
                            <ion-icon style="font-size: 1.4em" name="chatboxes"></ion-icon>
                            &nbsp;
                            <div style="font-size: 1.2rem;font-weight:500">Comment</div>
                        </button>
                    </div>
                </ion-col>
            </ion-row>
        </ion-card>

        <ion-card *ngIf="post.posttype == 'score' && post.sporttype == 'cricket' && post.crickettype == 'test'" color="card">

            <div *ngIf="postmoreclicked[i]" class="morediv">
                <ion-item (click)="removepost(i,post)" class="moreitem">
                    <ion-icon name="close-circle"></ion-icon>
                    Remove it
                </ion-item>
            </div>
            <ion-item>
                <ion-avatar item-left>
                   <img [src]="post.userimage" *ngIf="post.userimage">
                </ion-avatar>
                <ion-icon color="yellow" name="more" item-right (click)="onmoreClick(i)"></ion-icon>

                <h2 (click)="onUsernameClick(post.userId)">{{post.username || "Forgot to edit name"}}</h2>
                <p>
                    <ion-icon name="time" color="#d2d2d2"></ion-icon>
                    <span color="red">{{posttime[i]}}</span>
                </p>
            </ion-item>
            <ion-card-header color="heading">
                 Test cricket Score Update:
            </ion-card-header>
            <div style="color: #2196F3;text-align: center">
                <b>{{post.testno}}</b> between <b>{{post.teamone}}</b> and <b>{{post.teamtwo}}</b>
            </div>
            <div style="text-align: center">
                <p style="color: #2196F3" *ngIf="post.battingteam == 'teamone'">{{post.inningsno}} of {{post.teamone}} </p>
                <p style="color: #2196F3" *ngIf="post.battingteam == 'teamtwo'">{{post.inningsno}} of {{post.teamtwo}} </p>
            </div>
            <ion-row style="background-color: black;margin-left: 5px;margin-right: 5px">
                <ion-col col-3></ion-col>
                <ion-col col-5><ion-item color="white">Runs Scored</ion-item></ion-col>
                <ion-col col-3><ion-item color="white">{{post.runsscored}}</ion-item></ion-col>
                <ion-col col-1></ion-col>
            </ion-row>
            <ion-row style="background-color: black; margin-left: 5px;margin-right: 5px">
                <ion-col col-3></ion-col>
                <ion-col col-5><ion-item color="white">Wicket Lost</ion-item></ion-col>
                <ion-col col-3><ion-item color="white">{{post.wickets}}</ion-item></ion-col>
                <ion-col col-1></ion-col>
            </ion-row>
            <ion-row style="height: 23px;margin: inherit;text-align: center;margin-top:35px">
                <ion-col col-1 style="padding: 3px;height: 100%">
                <div style="border-radius: 20px;background-color:#ff5722;width: 100%;height: 100%">             
                    <ion-icon style="padding-bottom: 2px;font-size: .9em" name="thumbs-up" color="white"></ion-icon>
                </div>
                </ion-col>
                <ion-col col-5 *ngIf="nooflikes[i] > 1 && liked[i]" style="text-align: left;padding-top: 2px">
                    <ion-note color="green"> you and {{nooflikes[i] - 1}}&nbsp;others</ion-note>
                </ion-col>
                <ion-col col-5 *ngIf="nooflikes[i] == 1 && liked[i]" style="text-align: left;padding-top: 2px">
                    <ion-note color="green"> you liked</ion-note>
                </ion-col>
                <ion-col col-5 *ngIf="nooflikes[i] == 1 && !liked[i]" style="text-align: left;padding-top: 2px">
                    <ion-note color="green">1&nbsp;other liked</ion-note>
                </ion-col>
                <ion-col col-5 *ngIf="nooflikes[i] == 0 && !liked[i]"></ion-col>

                <ion-col style="text-align: right;padding-top: 2px">
                    <ion-note color="red" *ngIf="noofdislikes[i] != 0">{{noofdislikes[i]}}&nbsp;Dislikes</ion-note>
                    <ion-note color="yellow" *ngIf="noofcomments[i] != 0">{{noofcomments[i]}}&nbsp;Comments</ion-note>
                </ion-col>
            </ion-row>
            <ion-row style="border: 1px solid #3a3a3a; margin: inherit">
                <ion-col>
                    <div>                        
                        <button (click)="likePost(post.$key,i)" style="color:#e040fb" ion-button icon-center full clear class="scorebutton">
                            <ion-icon [@like]="liked[i] == true ? 'ltrue':'lfalse'" style="font-size: 1.3em;padding-bottom:3px" name="thumbs-up" [class.gray-color]="liked[i] == false" ></ion-icon>
                            &nbsp;
                            <div [class.gray-color]="liked[i] == false" style="font-size:1.2rem;font-weight:500">Like</div>
                        </button>
                    </div>
                </ion-col>
                <ion-col>
                    <div>                        
                        <button (click)="dislikePost(post.$key,i)" color="red" ion-button icon-center full clear class="scorebutton">
                            <ion-icon [@dislike]="disliked[i] == true ? 'dtrue':'dfalse'" style="font-size: 1.3em;padding-top:3px" name="thumbs-down" [class.gray-color]="disliked[i] == false" ></ion-icon>
                            &nbsp;
                            <div [class.gray-color]="disliked[i] == false" style="font-size: 1.2rem;font-weight:500">Dislike</div>
                        </button>
                    </div>
                </ion-col>
                <ion-col>
                    <div>                        
                        <button (click)="commentPost(post.$key)" ion-button color="yellow" icon-center full clear class="scorebutton">
                            <ion-icon style="font-size: 1.4em" name="chatboxes"></ion-icon>
                            &nbsp;
                            <div style="font-size: 1.2rem;font-weight:500">Comment</div>
                        </button>
                    </div>
                </ion-col>
            </ion-row>
        </ion-card>
        <ion-card *ngIf="post.posttype == 'score' && post.sporttype == 'football'" color="card">

            <div *ngIf="postmoreclicked[i]" class="morediv">
                <ion-item (click)="removepost(i,post)" class="moreitem">
                    <ion-icon name="close-circle"></ion-icon>
                    Remove it
                </ion-item>
            </div>
            <ion-item>
                <ion-avatar item-left>
                   <img [src]="post.userimage" *ngIf="post.userimage">
                </ion-avatar>
                <ion-icon color="yellow" name="more" item-right (click)="onmoreClick(i)"></ion-icon>
                <h2 (click)="onUsernameClick(post.userId)">{{post.username || "Forgot to edit name"}}</h2>

                <p>
                    <ion-icon name="time" color="#d2d2d2"></ion-icon>
                    <span color="red">{{posttime[i]}}</span>
                </p>
            </ion-item>
            <ion-card-header color="heading">
                 Football Score Update
            </ion-card-header>
            
            <ion-row color="orange" style="font-weight: 400;text-align: center;text-transform: capitalize">
                <ion-col>
                    <ion-label color="blue">{{post.teamone}}</ion-label>
                </ion-col>
                <ion-col col-2>
                    <ion-label color="blue">VS</ion-label>
                </ion-col> 
                <ion-col>
                    <ion-label color="blue">{{post.teamtwo}}</ion-label>
                </ion-col>
            </ion-row>
            
            <div style="border: 1px solid #3a3a3a; margin: 5px;padding: 6px;background-color: black">
                <div>
                    <ion-row color="orange" style="font-weight: 100">
                        <ion-col col-4><ion-item color="white">Goal Scored</ion-item></ion-col>
                        <ion-col col-2><ion-item color="white">{{post.goalone}}</ion-item></ion-col>
                        <ion-col col-4><ion-item color="white">Goal Scored</ion-item></ion-col>
                        <ion-col col-2><ion-item color="white">{{post.goaltwo}}</ion-item></ion-col>
                    </ion-row>
                </div>
                <div>
                    <ion-row style="font-weight: 100">
                        <ion-col col-4><ion-item color="white">Yellow Card</ion-item></ion-col>
                        <ion-col col-2><ion-item color="white">{{post.yellocardone}}</ion-item></ion-col>
                        <ion-col col-4><ion-item color="white">Yellow Card</ion-item></ion-col>
                        <ion-col col-2><ion-item color="white">{{post.yellowcardtwo}}</ion-item></ion-col>
                    </ion-row>
                </div>
                <div>
                    <ion-row style="font-weight: 100">
                        <ion-col col-4><ion-item color="white">Red Card</ion-item></ion-col>
                        <ion-col col-2><ion-item color="white">{{post.redcardone}}</ion-item></ion-col>
                        <ion-col col-4><ion-item color="white">Red Card</ion-item></ion-col>
                        <ion-col col-2><ion-item color="white">{{post.redcardtwo}}</ion-item></ion-col>
                    </ion-row>
                </div>
                <div>
                    <ion-row style="font-weight: 100">
                        <ion-col><ion-item color="white">Scorer</ion-item></ion-col>
                        <ion-col><ion-item color="white">Scorer</ion-item></ion-col>
                    </ion-row>
                    <ion-row>
                        <ion-col><ion-item color="white">{{post.goalscorerone}}</ion-item></ion-col>
                        <ion-col><ion-item color="white">{{post.goalscorertwo}}</ion-item></ion-col>
                    </ion-row>
                </div>
            </div>

            <ion-row style="height: 23px;margin: inherit;text-align: center;margin-top:35px">
                <ion-col col-1 style="padding: 3px;height: 100%">
                <div style="border-radius: 20px;background-color:#ff5722;width: 100%;height: 100%">             
                    <ion-icon style="padding-bottom: 2px;font-size: .9em" name="thumbs-up" color="white"></ion-icon>
                </div>
                </ion-col>
                <ion-col col-5 *ngIf="nooflikes[i] > 1 && liked[i]" style="text-align: left;padding-top: 2px">
                    <ion-note color="green"> you and {{nooflikes[i] - 1}}&nbsp;others</ion-note>
                </ion-col>
                <ion-col col-5 *ngIf="nooflikes[i] == 1 && liked[i]" style="text-align: left;padding-top: 2px">
                    <ion-note color="green"> you liked</ion-note>
                </ion-col>
                <ion-col col-5 *ngIf="nooflikes[i] == 1 && !liked[i]" style="text-align: left;padding-top: 2px">
                    <ion-note color="green">1&nbsp;other liked</ion-note>
                </ion-col>
                <ion-col col-5 *ngIf="nooflikes[i] == 0 && !liked[i]"></ion-col>

                <ion-col style="text-align: right;padding-top: 2px">
                    <ion-note color="red" *ngIf="noofdislikes[i] != 0">{{noofdislikes[i]}}&nbsp;Dislikes</ion-note>
                    <ion-note color="yellow" *ngIf="noofcomments[i] != 0">{{noofcomments[i]}}&nbsp;Comments</ion-note>
                </ion-col>
            </ion-row>
            <ion-row style="border: 1px solid #3a3a3a; margin: inherit">
                <ion-col>
                    <div>
                    <button (click)="likePost(post.$key,i)" style="color:#e040fb" ion-button icon-center full clear class="scorebutton">
                        <ion-icon [@like]="liked[i] == true ? 'ltrue':'lfalse'" style="font-size: 1.3em;padding-bottom:3px" name="thumbs-up" [class.gray-color]="liked[i] == false" ></ion-icon>
                        &nbsp;
                        <div [class.gray-color]="liked[i] == false" style="font-size:1.2rem;font-weight:500">Like</div>
                    </button>
                    </div>
                </ion-col>
                <ion-col>
                    <div>                        
                        <button (click)="dislikePost(post.$key,i)" color="red" ion-button icon-center full clear class="scorebutton">
                            <ion-icon [@dislike]="disliked[i] == true ? 'dtrue':'dfalse'" style="font-size: 1.3em;padding-top:3px" name="thumbs-down" [class.gray-color]="disliked[i] == false" ></ion-icon>
                            &nbsp;
                            <div [class.gray-color]="disliked[i] == false" style="font-size: 1.2rem;font-weight:500">Dislike</div>
                        </button>
                    </div>
                </ion-col>
                <ion-col>
                    <div>                        
                        <button (click)="commentPost(post.$key)" ion-button color="yellow" icon-center full clear class="scorebutton">
                            <ion-icon style="font-size: 1.4em" name="chatboxes"></ion-icon>
                            &nbsp;
                            <div style="font-size: 1.2rem;font-weight:500">Comment</div>
                        </button>
                    </div>
                </ion-col>
            </ion-row>
        </ion-card>
    </ion-list>

</ion-content>
