page-home {

  .scorebutton {
    text-transform: none;
    font-weight: 100;
    padding: 0px 2.8em;
  }
  .tournamentbutton {
    text-transform: none;
    font-weight: 100;
  }
  .hiringbutton {
    text-transform: none;
    font-weight: 100;
  }
  .home {
    background: #f4f4f4;
  }
  .home-card {
    box-shadow: none;
    padding: 0px;
    margin: 0px;
    margin-top: 4px;
    width: 100%;
  }
  .post {
    margin: 0px;
    margin-top: 3px;
    width: 100%;

  }
}
