page-home {

  .scorebutton {
    text-transform: none;
    font-weight: 100;
    padding: 0px 2.8em;
  }
  
  .home {
    background: #f4f4f4;
  }
  .home-card {
    padding: 0px;
    margin: 0px;
    margin-top: 4px;
    width: 100%;
  }
  .post {
    margin: 0px;
    margin-top: 3px;
    width: 100%;

  }
  .gray-color{
    color: gray;
  }
  .col {
    padding: 0px;
  }
  .button-md {
    padding: 0px;
  }

  ion-scroll{
    white-space: nowrap;
    .scroll-item {
      display: inline-block;
      width: 200px;
    }
  }
}
