page-home {


  @keyframes more {
    0%{
      height: 0px;
    }
    100% {
      height: 50px;
    }
  }
  .morediv {
    height: 50px;
    text-align: center;background-color: orange;
    animation: more .5s;
  }
  .moreitem {
    height: inherit;
    min-height: 0px;
  }


  .card h2 {
    color: #FFEB3B;
  }
  .item {
    background-color: inherit;
  }
  .home {
    background: #212121;
  }
  .home-card {
    padding: 0px;
    margin: 0px;
    margin-top: 4px;
    width: 100%;
  }
  .card-md {
    border-radius: 0px;
  }
  .post {
    margin: 0px;
    margin-top: 3px;
    width: 100%;

  }
  .gray-color{
    color: gray;
  }
  .col {
    padding: 0px;
  }
  .button-md {
    padding: 0px;
  }

  ion-scroll{
    white-space: nowrap;
    .scroll-item {
      display: inline-block;
      width: 200px;
    }
  }

  .has-refresher > .scroll-content{
    border-top: none;
  }
  
  /* Show hide navbar */
  .scroll-content{
    top:-56px !important;
    padding-top: 60px !important;
    margin-bottom: 0px !important;
  }
  .hide-header{
    transition : top .40s ease-in;
    top: -56px;
  }
  .show-header{
    transition : top .25s ease-in;
    top: 0px;
  }
  ion-content {
    .scroll-content {
      margin-bottom: 0px;
    }
  }

  ion-scroll {
    .scroll-content {
      top: 0 !important;
      padding-top: 0px !important;
    }
  }
  .imagesize {
    height: 200px;
    width: 100%;
  }
  .seeparticipants {
    text-transform: none;
    margin-top: 20px;
    color: #2196F3;
  }
  .countlikecommentrow {
    height: 25px;
    margin: inherit;
    text-align: center;
    margin-top:35px
  }
  .circlelike {
    border-radius: 20px;background-color:#ff5722;width: 100%;height: 100%;
  }
  .circleicon {
    padding-bottom: 2px;font-size: .8em;
    color: white;
  }
  .countlike {
    text-align: left;padding-top: 2px;
  }
  .countdislike {
    text-align: right;padding-top: 2px;
  }
  .likedislikerow {
    border: 1px solid #3a3a3a; margin: inherit;
  }
  .likebutton {
    text-transform: none;
    font-weight: 100;
    padding: 0px 2.8em;
  }
  .likeicon {
    font-size: 1.3em;padding-bottom:3px;
  }
  .liketext {
    font-size:1.2rem;font-weight:500;
  }
  
}
