
<ion-header [class.show-header] = "showheader == true && hideheader == false" [class.hide-header] = "hideheader == true && showheader == false" >
    <ion-navbar style="background-color: #212121">
        <button ion-button menuToggle>
          <ion-icon color="white" name="menu"></ion-icon>
        </button>
        <ion-title color="white">
          Home
        </ion-title>
        <ion-buttons end>
            <button ion-button (click)="calluserdetails()">
                <ion-icon name="person" color="white"></ion-icon>
            </button>
        </ion-buttons>
    </ion-navbar>
</ion-header>

<ion-content class="home">

    <ion-refresher (ionRefresh)="doRefresh($event)">
        <ion-refresher-content
          pullingIcon="arrow-dropdown"
          pullingText="Pull to refresh"
          refreshingSpinner="circles"
          refreshingText="Refreshing...">
        </ion-refresher-content>
    </ion-refresher>

    <ion-card color="card">      
        <div>
            <ion-row>
                <ion-col col-2>
                    <ion-avatar item-left style="padding: 5px">
                        <!-- <img [src]="profileimage" *ngIf="profileimage" style="height: 40px; width: 40px"> -->
                    </ion-avatar>                                                     
                </ion-col>
                <ion-col col-10 (click)="onCreatePostClick()"> 
                    <ion-item>
                    <button color="yellow" ion-button full clear style="text-transform: none;font-size: small" >
                        Give a challenge to all club and player..
                    </button>
                    </ion-item>
                </ion-col>
            </ion-row>
        </div>
    </ion-card>

    <ion-card style="height: 220px" color="background">
        <ion-row>
            <ion-col>
            <ion-card-header color="yellow">
                Clubs to follow:
            </ion-card-header>
            </ion-col>
            <ion-col>
            <ion-card-header style="float: right">
                <span color="yellow">View all</span>
            </ion-card-header>
            </ion-col>
        </ion-row>
        <ion-scroll scrollX="true" style="height: 180px;" >
            <ion-card color="card" class="scroll-item" *ngFor="let club of clubs, let i = index" style="height: 100%; width: 100px">
                <ion-label style="margin: 0px">
                    <ion-icon name="more" style="float: right; padding-top: 5px; padding-right: 10px" (click)="onMoreClick($event)"></ion-icon>
                </ion-label>

                <ion-row style="height: 60px">
                    <button ion-button full clear style="height: 100%">                        
                        <ion-avatar>
                            <!-- <img style="width: 60px; height: 60px; border-radius: 30px " [src]="club.profileimage" *ngIf="club.profileimage"> -->
                        </ion-avatar>
                    </button>  
                </ion-row>
                <ion-row>
                    <button color="yellow" ion-button full clear>{{club.name}}</button>
                </ion-row>
                <ion-row>
                    <button color="card" *ngIf="!iffollowing[i]" (click)="follow(i)" ion-button full clear style="font-size: 1.2rem;">                            
                        <ion-icon color="deeporange" name="person-add"></ion-icon><span style="width: 5px"></span>
                        <span color="deeporange">Follow</span>
                    </button>
                </ion-row>
            </ion-card>
        </ion-scroll>
    </ion-card>

    <!-- User Feed -->
    <ion-list *ngFor="let post of posts, let i = index">

        <ion-card *ngIf="post.posttype == 'tournament'" color="card">
            <ion-item>
                <ion-avatar item-left>
                    <!-- <img [src]="post.userimage" *ngIf="post.userimage"> -->
                </ion-avatar>
                <ion-icon color="yellow" name="more" item-right (click)="onMoreClick($event)"></ion-icon>
                <h2 (click)="onUsernameClick(post.userId)">
                    {{post.username || "Forgot to edit name"}}
                </h2>
                <p><ion-icon name="pin" color="pink"></ion-icon>&nbsp;<span color="orange">Kolkata</span>&nbsp;&nbsp;&nbsp;<span color="red">{{posttime[i]}}</span></p>
            </ion-item>

            <ion-card-content color="white" style="opacity: 0.6px">
                Organising a <b>{{post.sporttype}}</b> tournament on <b>{{post.eventdate}}</b> at {{post.eventvenue || "our club ground"}}
            </ion-card-content>
            <ion-row style="height: 200px; width: 100%;">
                <!-- <img [src]="post.imageurl" *ngIf="post.imageurl"> -->
                <div *ngIf="!post.imageurl" style="height: 100%;width: 100%;"></div>
            </ion-row>
            <ion-card-content color="white" *ngIf="post.centuarea">
                {{post.centuarea}}
            </ion-card-content>
            <ion-card-content color="white" *ngIf="!post.centuarea">
               We are extreamly happy to organize this event in our club. We wish it will be a great tournament with your participation :)
            </ion-card-content>    
            
            <ion-row *ngIf="post.userId != authuid" style="padding: 5px 0px">
                <ion-col>
                    <button color="yellow" ion-button icon-left full clear>
                        <ion-icon name="person"></ion-icon>
                        {{post.participating}} Going
                    </button>
                </ion-col>
                <ion-col>
                    <button color="yellow" ion-button icon-left full clear>
                        <ion-icon name="car"></ion-icon>
                        <div>1.4km</div>
                    </button>
                </ion-col>
                <ion-col center text-center>
                    <button color="yellow" ion-button block outline icon-right (click)="onRulesClick(post.rules,post.participating,post.$key,post.userId)">
                        Rules
                        <ion-icon name="arrow-round-forward"></ion-icon>
                    </button>
                </ion-col>
            </ion-row>
            <button color="red" *ngIf="post.userId == authuid" (click)="seeParticipants(post.$key)" ion-button block outline style="text-transform: none;margin-top: 20px;">See all participants</button>
        </ion-card>

        <ion-card *ngIf="post.posttype == 'hiring'" color="card">
            <ion-item>
                <ion-avatar item-left>
                    <!-- <img [src]="post.userimage" *ngIf="post.userimage"> -->
                </ion-avatar>
                <ion-icon color="yellow" name="more" item-right (click)="onMoreClick($event)"></ion-icon>
                <h2 (click)="onUsernameClick(post.userId)">{{post.username || "Forgot to edit name"}}</h2>

                <p><ion-icon name="pin" color="pink"></ion-icon>&nbsp;<span color="orange">Kolkata</span>&nbsp;&nbsp;&nbsp;<span color="red">{{posttime[i]}}</span></p>
            </ion-item>
            <ion-card-content color="white">
                Organising a <b>{{post.sporttype}} Trial for Hiring</b> Players on <b>{{post.eventdate}}</b><br>
                Be present at {{post.eventvenue || "our club ground"}}
            </ion-card-content>
            <ion-row style="height: 200px; width: 100%;">          
                <!-- <img [src]="post.imageurl" *ngIf="post.imageurl"> -->
                <div *ngIf="!post.imageurl" style="height: 100%;width: 100%;"></div>
            </ion-row>
            <ion-card-content color="white" *ngIf="post.honestarea">
                {{post.honestarea}}
            </ion-card-content>
            <ion-card-content color="white" *ngIf="!post.honestarea">
                The trial will be taken on <b>First come first</b> basis if many players wish to participate. So hurry up !!
            </ion-card-content>
            <ion-row *ngIf="post.userId != authuid">
                <ion-col col-4>
                    <button color="yellow" ion-button icon-left clear small>
                        <ion-icon name="person"></ion-icon>
                        <div>{{post.participating}} Going</div>
                    </button>
                </ion-col>
                <ion-col col-4>
                    <button color="yellow" ion-button icon-left clear small>
                        <ion-icon name="car"></ion-icon>
                        <div>1.4km</div>
                    </button>
                </ion-col>
                <ion-col center text-center col-4>
                    <button colo="yellow" ion-button block outline icon-right (click)="onCriteriaClick(post.criteria,post.participating,post.$key,post.userId)">
                        Criteria
                        <ion-icon name="arrow-round-forward"></ion-icon>
                    </button>
                </ion-col>
            </ion-row>
            <button color="red" *ngIf="post.userId == authuid" (click)="seeParticipants(post.$key)" ion-button block outline style="text-transform: none;margin-top: 20px">See all participants</button>
        </ion-card>
        

        <ion-card *ngIf="post.posttype == 'image'" color="card"> 
            <ion-item>
                <ion-avatar item-left>
                    <img [src]="post.userimage" *ngIf="post.userimage">
                </ion-avatar>
                <ion-icon color="yellow" name="more" color="yellow" item-right (click)="onMoreClick($event)"></ion-icon>
                <h2 (click)="onUsernameClick(post.userId)">{{post.username || "Forgot to edit name"}}</h2>

                <p><ion-icon name="pin" color="pink"></ion-icon>&nbsp;<span color="orange">Kolkata</span>&nbsp;&nbsp;&nbsp;<span color="red">{{posttime[i]}}</span></p>
            </ion-item>
            <ion-card-content color="white">
                {{post.title}}
            </ion-card-content>
            <ion-row style="height: 200px; width: 100%">                
                <img [src] ="post.imageurl" *ngIf="post.imageurl" >
                <video width="100%" height="200px" autoplay *ngIf="post.videourl" controls>
                    <!-- <source [src]="post.videourl" type="video/mp4"> -->
                </video>
            </ion-row>
            
            <ion-row style="height: 25px;margin: inherit;text-align: center;margin-top:35px">
                <ion-col col-1 style="padding: 4px; height: 100%">
                    <div style="border-radius: 20px;background-color:#ff5722;width: 100%;height: 100%">             
                        <ion-icon style="padding-bottom: 2px;font-size: .8em" name="thumbs-up" color="white"></ion-icon>
                    </div>
                </ion-col>
                <ion-col col-5 *ngIf="nooflikes[i] > 1 && liked[i]" style="text-align: left;padding-top: 2px">
                    <ion-note color="green"> You and {{nooflikes[i] - 1}}&nbsp;others</ion-note>
                </ion-col>
                <ion-col col-5 *ngIf="nooflikes[i] == 1 && liked[i]" style="text-align: left;padding-top: 2px">
                    <ion-note color="green"> You liked</ion-note>
                </ion-col>
                <ion-col col-5 *ngIf="nooflikes[i] == 1 && !liked[i]" style="text-align: left;padding-top: 2px">
                    <ion-note color="green">1&nbsp;other liked</ion-note>
                </ion-col>
                <ion-col col-5 *ngIf="nooflikes[i] == 0 && !liked[i]"></ion-col>

                <ion-col style="text-align: right;padding-top: 2px">
                    <ion-note color="red" *ngIf="noofdislikes[i] != 0">{{noofdislikes[i]}}&nbsp;Dislikes</ion-note>
                    <ion-note color="yellow" *ngIf="noofcomments[i] != 0">{{noofcomments[i]}}&nbsp;Comments</ion-note>
                </ion-col>
            </ion-row>
            <ion-row style="border: 1px solid #3a3a3a; margin: inherit">
                <ion-col>
                    <div>
                        <button (click)="likePost(post.$key,i)" style="color:#e040fb" ion-button icon-center full clear class="scorebutton">
                            <ion-icon [@like]="liked[i] == true ? 'ltrue':'lfalse'" style="font-size: 1.3em;padding-bottom:3px" name="thumbs-up" [class.gray-color]="liked[i] == false" ></ion-icon>
                            &nbsp;
                            <div [class.gray-color]="liked[i] == false" style="font-size:1.2rem;font-weight:500">Like</div>
                        </button>
                    </div>
                </ion-col>
                <ion-col>
                        <div>
                        <button (click)="dislikePost(post.$key,i)" color="red" ion-button icon-center full clear class="scorebutton">
                            <ion-icon [@dislike]="disliked[i] == true ? 'dtrue':'dfalse'" style="font-size: 1.3em;padding-top:3px" name="thumbs-down" [class.gray-color]="disliked[i] == false" ></ion-icon>
                            &nbsp;
                            <div [class.gray-color]="disliked[i] == false" style="font-size: 1.2rem;font-weight:500">Dislike</div>
                        </button>
                    </div>
                </ion-col>
                <ion-col>
                    <div>                        
                        <button (click)="commentPost(post.$key)" ion-button color="yellow" icon-center full clear class="scorebutton">
                            <ion-icon style="font-size: 1.4em" name="chatboxes"></ion-icon>
                            &nbsp;
                            <div style="font-size: 1.2rem;font-weight:500">Comment</div>
                        </button>
                    </div>
                </ion-col>
            </ion-row>
        </ion-card>
        <ion-card *ngIf="post.posttype == 'youtube'" color="card"> 
            <ion-item>
                <ion-avatar item-left>
                    <img [src]="post.userimage" *ngIf="post.userimage">
                </ion-avatar>
                <ion-icon color="yellow" name="more" item-right (click)="onMoreClick($event)"></ion-icon>
                <h2 (click)="onUsernameClick(post.userId)">{{post.username || "Forgot to edit name"}}</h2>

                <p><ion-icon name="pin" color="pink"></ion-icon>&nbsp;<span color="orange">Kolkata</span>&nbsp;&nbsp;&nbsp;<span color="red">{{posttime[i]}}</span></p>
            </ion-item>
            <ion-card-content color="white">
                {{post.title}}
            </ion-card-content>
            <div>                
                <iframe width="100%" height="250" [src]="post.youtubelink | youtube" frameborder="0" allowfullscreen></iframe>
            </div>
            <ion-row style="height: 23px;margin: inherit;text-align: center;margin-top:35px">
                <ion-col col-1 style="padding: 3px;height: 100%">
                <div style="border-radius: 20px;background-color:#ff5722;width: 100%;height: 100%">             
                    <ion-icon style="padding-bottom: 2px;font-size: .9em" name="thumbs-up" color="white"></ion-icon>
                </div>
                </ion-col>
                <ion-col col-5 *ngIf="nooflikes[i] > 1 && liked[i]" style="text-align: left;padding-top: 2px">
                    <ion-note color="green"> you and {{nooflikes[i] - 1}}&nbsp;others</ion-note>
                </ion-col>
                <ion-col col-5 *ngIf="nooflikes[i] == 1 && liked[i]" style="text-align: left;padding-top: 2px">
                    <ion-note color="green"> you liked</ion-note>
                </ion-col>
                <ion-col col-5 *ngIf="nooflikes[i] == 1 && !liked[i]" style="text-align: left;padding-top: 2px">
                    <ion-note color="green">1&nbsp;other liked</ion-note>
                </ion-col>
                <ion-col col-5 *ngIf="nooflikes[i] == 0 && !liked[i]"></ion-col>

                <ion-col style="text-align: right;padding-top: 2px">
                    <ion-note color="red" *ngIf="noofdislikes[i] != 0">{{noofdislikes[i]}}&nbsp;Dislikes</ion-note>
                    <ion-note color="yellow" *ngIf="noofcomments[i] != 0">{{noofcomments[i]}}&nbsp;Comments</ion-note>
                </ion-col>
            </ion-row>
            <ion-row style="border: 1px solid #3a3a3a; margin: inherit">
                <ion-col>
                    <div>
                        <button (click)="likePost(post.$key,i)" style="color:#e040fb" ion-button icon-center full clear class="scorebutton">
                            <ion-icon [@like]="liked[i] == true ? 'ltrue':'lfalse'" style="font-size: 1.3em;padding-bottom:3px" name="thumbs-up" [class.gray-color]="liked[i] == false" ></ion-icon>
                            &nbsp;
                            <div [class.gray-color]="liked[i] == false" style="font-size:1.2rem;font-weight:500">Like</div>
                        </button>
                    </div>
                </ion-col>
                <ion-col>
                    <div>
                        <button (click)="dislikePost(post.$key,i)" color="red" ion-button icon-center full clear class="scorebutton">
                            <ion-icon [@dislike]="disliked[i] == true ? 'dtrue':'dfalse'" style="font-size: 1.3em;padding-top:3px" name="thumbs-down" [class.gray-color]="disliked[i] == false" ></ion-icon>
                            &nbsp;
                            <div [class.gray-color]="disliked[i] == false" style="font-size: 1.2rem;font-weight:500">Dislike</div>
                        </button>
                    </div>
                </ion-col>
                <ion-col>
                    <div>                        
                        <button (click)="commentPost(post.$key)" ion-button color="yellow" icon-center full clear class="scorebutton">
                            <ion-icon style="font-size: 1.4em" name="chatboxes"></ion-icon>
                            &nbsp;
                            <div style="font-size: 1.2rem;font-weight:500">Comment</div>
                        </button>
                    </div>
                </ion-col>
            </ion-row>
        </ion-card>

        <ion-card *ngIf="post.posttype == 'score' && post.sporttype == 'cricket' && post.crickettype == 'odi'" color="card">
            <ion-item>
                <ion-avatar item-left>
                   <img [src]="post.userimage" *ngIf="post.userimage">
                </ion-avatar>
                <ion-icon color="yellow" name="more" item-right (click)="onMoreClick($event)"></ion-icon>
                <h2 (click)="onUsernameClick(post.userId)">{{post.username || "Forgot to edit name"}}</h2>

                <p><ion-icon name="pin" color="pink"></ion-icon>&nbsp;<span color="orange">Kolkata</span>&nbsp;&nbsp;&nbsp;<span color="red">{{posttime[i]}}</span></p>
            </ion-item>
            <ion-card-header color="heading">
                 Cricket Score Update:
            </ion-card-header>
            <ion-card-content color="teal">
                <ion-label style="text-transform: capitalize; text-align:center;">{{post.teamone}} vs {{post.teamtwo}}</ion-label>
            </ion-card-content>
            <ion-card-content *ngIf="post.tosswon == 'teamone'" color="red">
                {{post.teamone}} won toss and elected {{post.elected}} first 
            </ion-card-content>
            <ion-card-content *ngIf="post.tosswon == 'teamtwo'" color="red">
                {{post.teamtwo}} won toss and elected {{post.elected}} first
            </ion-card-content>
            <button color="yellow" *ngIf="(post.tosswon == 'teamone' && post.elected == 'batting') || (post.tosswon == 'teamtwo' && post.elected == 'bowling')" ion-button clear full style="text-transform: none">
                {{post.teamone}} <span style="width: 5px"></span>
                <ion-icon name="happy"></ion-icon>
            </button>
            <button color="yellow" *ngIf="(post.tosswon == 'teamtwo' && post.elected == 'batting') || (post.tosswon == 'teamone' && post.elected == 'bowling')" ion-button clear full style="text-transform: none">
                {{post.teamtwo}} <span style="width: 5px"></span>
                <ion-icon name="happy"></ion-icon>
            </button>
            <ion-row>
                <ion-col col-3></ion-col>
                <ion-col col-5>Runs Scored :</ion-col>
                <ion-col col-3>{{post.runsscored}} </ion-col>
                <ion-col col-1></ion-col>
            </ion-row>
            <ion-row>
                <ion-col col-3></ion-col>
                <ion-col col-5>Wicket Lost :</ion-col>
                <ion-col col-3>{{post.wickets}} </ion-col>
                <ion-col col-1></ion-col>
            </ion-row>
            <ion-row>
                <ion-col col-3></ion-col>
                <ion-col col-5>Overs Bowled :</ion-col>
                <ion-col col-3>{{post.overs}} </ion-col>
                <ion-col col-1></ion-col>
            </ion-row>
            <ion-row style="height: 23px;margin: inherit;text-align: center;margin-top:35px">
                <ion-col col-1 style="padding: 3px;height: 100%">
                <div style="border-radius: 20px;background-color:#ff5722;width: 100%;height: 100%">             
                    <ion-icon style="padding-bottom: 2px;font-size: .9em" name="thumbs-up" color="white"></ion-icon>
                </div>
                </ion-col>
                <ion-col col-5 *ngIf="nooflikes[i] > 1 && liked[i]" style="text-align: left;padding-top: 2px">
                    <ion-note color="green"> you and {{nooflikes[i] - 1}}&nbsp;others</ion-note>
                </ion-col>
                <ion-col col-5 *ngIf="nooflikes[i] == 1 && liked[i]" style="text-align: left;padding-top: 2px">
                    <ion-note color="green"> you liked</ion-note>
                </ion-col>
                <ion-col col-5 *ngIf="nooflikes[i] == 1 && !liked[i]" style="text-align: left;padding-top: 2px">
                    <ion-note color="green">1&nbsp;other liked</ion-note>
                </ion-col>
                <ion-col col-5 *ngIf="nooflikes[i] == 0 && !liked[i]"></ion-col>

                <ion-col style="text-align: right;padding-top: 2px">
                    <ion-note color="red" *ngIf="noofdislikes[i] != 0">{{noofdislikes[i]}}&nbsp;Dislikes</ion-note>
                    <ion-note color="yellow" *ngIf="noofcomments[i] != 0">{{noofcomments[i]}}&nbsp;Comments</ion-note>
                </ion-col>
            </ion-row>
            <ion-row style="border: 1px solid #3a3a3a; margin: inherit">
                <ion-col>
                    <div>
                        <button (click)="likePost(post.$key,i)" style="color:#e040fb" ion-button icon-center full clear class="scorebutton">
                            <ion-icon [@like]="liked[i] == true ? 'ltrue':'lfalse'" style="font-size: 1.3em;padding-bottom:3px" name="thumbs-up" [class.gray-color]="liked[i] == false" ></ion-icon>
                            &nbsp;
                            <div [class.gray-color]="liked[i] == false" style="font-size:1.2rem;font-weight:500">Like</div>
                        </button>
                    </div>
                </ion-col>
                <ion-col>
                    <div>
                        <button (click)="dislikePost(post.$key,i)" color="red" ion-button icon-center full clear class="scorebutton">
                            <ion-icon [@dislike]="disliked[i] == true ? 'dtrue':'dfalse'" style="font-size: 1.3em;padding-top:3px" name="thumbs-down" [class.gray-color]="disliked[i] == false" ></ion-icon>
                            &nbsp;
                            <div [class.gray-color]="disliked[i] == false" style="font-size: 1.2rem;font-weight:500">Dislike</div>
                        </button>
                    </div>
                </ion-col>
                <ion-col>
                    <div>                        
                        <button (click)="commentPost(post.$key)" ion-button color="yellow" icon-center full clear class="scorebutton">
                            <ion-icon style="font-size: 1.4em" name="chatboxes"></ion-icon>
                            &nbsp;
                            <div style="font-size: 1.2rem;font-weight:500">Comment</div>
                        </button>
                    </div>
                </ion-col>
            </ion-row>
        </ion-card>

        <ion-card *ngIf="post.posttype == 'score' && post.sporttype == 'cricket' && post.crickettype == 'test'" color="card">
            <ion-item>
                <ion-avatar item-left>
                   <img [src]="post.userimage" *ngIf="post.userimage">
                </ion-avatar>
                <ion-icon color="yellow" name="more" item-right (click)="onMoreClick($event)"></ion-icon>
                <h2 (click)="onUsernameClick(post.userId)">{{post.username || "Forgot to edit name"}}</h2>

                <p><ion-icon name="pin" color="pink"></ion-icon>&nbsp;<span color="orange">Kolkata</span>&nbsp;&nbsp;&nbsp;<span color="red">{{posttime[i]}}</span></p>
            </ion-item>
            <ion-card-header color="heading">
                 Test cricket Score Update:
            </ion-card-header>
            <ion-card-content color="teal">
                <b>{{post.testno}}</b> between <b>{{post.teamone}}</b> and <b>{{post.teamtwo}}</b>
            </ion-card-content>
            
            <button color="yellow" ion-button full clear style="text-transform: none" *ngIf="post.battingteam == 'teamone'">{{post.inningsno}} of {{post.teamone}} </button>
            <button color="yellow" ion-button full clear style="text-transform: none" *ngIf="post.battingteam == 'teamtwo'">{{post.inningsno}} of {{post.teamtwo}} </button>
            <ion-row>
                <ion-col col-3></ion-col>
                <ion-col col-5>Runs Scored :</ion-col>
                <ion-col col-3>{{post.runsscored}} </ion-col>
                <ion-col col-1></ion-col>
            </ion-row>
            <ion-row>
                <ion-col col-3></ion-col>
                <ion-col col-5>Wicket Lost :</ion-col>
                <ion-col col-3>{{post.wickets}} </ion-col>
                <ion-col col-1></ion-col>
            </ion-row>
            <ion-row style="height: 23px;margin: inherit;text-align: center;margin-top:35px">
                <ion-col col-1 style="padding: 3px;height: 100%">
                <div style="border-radius: 20px;background-color:#ff5722;width: 100%;height: 100%">             
                    <ion-icon style="padding-bottom: 2px;font-size: .9em" name="thumbs-up" color="white"></ion-icon>
                </div>
                </ion-col>
                <ion-col col-5 *ngIf="nooflikes[i] > 1 && liked[i]" style="text-align: left;padding-top: 2px">
                    <ion-note color="green"> you and {{nooflikes[i] - 1}}&nbsp;others</ion-note>
                </ion-col>
                <ion-col col-5 *ngIf="nooflikes[i] == 1 && liked[i]" style="text-align: left;padding-top: 2px">
                    <ion-note color="green"> you liked</ion-note>
                </ion-col>
                <ion-col col-5 *ngIf="nooflikes[i] == 1 && !liked[i]" style="text-align: left;padding-top: 2px">
                    <ion-note color="green">1&nbsp;other liked</ion-note>
                </ion-col>
                <ion-col col-5 *ngIf="nooflikes[i] == 0 && !liked[i]"></ion-col>

                <ion-col style="text-align: right;padding-top: 2px">
                    <ion-note color="red" *ngIf="noofdislikes[i] != 0">{{noofdislikes[i]}}&nbsp;Dislikes</ion-note>
                    <ion-note color="yellow" *ngIf="noofcomments[i] != 0">{{noofcomments[i]}}&nbsp;Comments</ion-note>
                </ion-col>
            </ion-row>
            <ion-row style="border: 1px solid #3a3a3a; margin: inherit">
                <ion-col>
                    <div>                        
                        <button (click)="likePost(post.$key,i)" style="color:#e040fb" ion-button icon-center full clear class="scorebutton">
                            <ion-icon [@like]="liked[i] == true ? 'ltrue':'lfalse'" style="font-size: 1.3em;padding-bottom:3px" name="thumbs-up" [class.gray-color]="liked[i] == false" ></ion-icon>
                            &nbsp;
                            <div [class.gray-color]="liked[i] == false" style="font-size:1.2rem;font-weight:500">Like</div>
                        </button>
                    </div>
                </ion-col>
                <ion-col>
                    <div>                        
                        <button (click)="dislikePost(post.$key,i)" color="red" ion-button icon-center full clear class="scorebutton">
                            <ion-icon [@dislike]="disliked[i] == true ? 'dtrue':'dfalse'" style="font-size: 1.3em;padding-top:3px" name="thumbs-down" [class.gray-color]="disliked[i] == false" ></ion-icon>
                            &nbsp;
                            <div [class.gray-color]="disliked[i] == false" style="font-size: 1.2rem;font-weight:500">Dislike</div>
                        </button>
                    </div>
                </ion-col>
                <ion-col>
                    <div>                        
                        <button (click)="commentPost(post.$key)" ion-button color="yellow" icon-center full clear class="scorebutton">
                            <ion-icon style="font-size: 1.4em" name="chatboxes"></ion-icon>
                            &nbsp;
                            <div style="font-size: 1.2rem;font-weight:500">Comment</div>
                        </button>
                    </div>
                </ion-col>
            </ion-row>
        </ion-card>
        <ion-card *ngIf="post.posttype == 'score' && post.sporttype == 'football'" color="card">
            <ion-item>
                <ion-avatar item-left>
                   <img [src]="post.userimage" *ngIf="post.userimage">
                </ion-avatar>
                <ion-icon color="yellow" name="more" item-right (click)="onMoreClick($event)"></ion-icon>
                <h2 (click)="onUsernameClick(post.userId)">{{post.username || "Forgot to edit name"}}</h2>

                <p><ion-icon name="pin" color="pink"></ion-icon>&nbsp;<span color="orange">Kolkata</span>&nbsp;&nbsp;&nbsp;<span color="red">{{posttime[i]}}</span></p>
            </ion-item>
            <ion-card-header color="heading">
                 Football Score Update:
            </ion-card-header>
            <ion-item>
                <ion-row color="orange" style="font-weight: 400">
                    <ion-col><span color="yellow">{{post.teamone}}</span></ion-col>
                    <ion-col col-2><span color="yellow">vs</span></ion-col> 
                    <ion-col><span color="yellow">{{post.teamtwo}}</span></ion-col>
                </ion-row>
            </ion-item>
            <div style="border: 1px solid #3a3a3a; margin: 5px">
                <div>
                    <ion-row color="orange" style="font-weight: 100">
                        <ion-col col-4 style="padding-left: 11px">Goal Scored :</ion-col>
                        <ion-col col-2>{{post.goalone}} </ion-col>
                        <ion-col col-4 style="padding-left: 11px">Goal Scored :</ion-col>
                        <ion-col col-2>{{post.goaltwo}}</ion-col>
                    </ion-row>
                </div>
                <div>
                    <ion-row style="font-weight: 100">
                        <ion-col col-4 style="padding-left: 11px">Yellow Card :</ion-col>
                        <ion-col col-2>{{post.yellocardone}}</ion-col>
                        <ion-col col-4 style="padding-left: 11px">Yellow Card :</ion-col>
                        <ion-col col-2>{{post.yellowcardtwo}}</ion-col>
                    </ion-row>
                </div>
                <div>
                    <ion-row style="font-weight: 100">
                        <ion-col col-4 style="padding-left: 11px">Red Card :</ion-col>
                        <ion-col col-2>{{post.redcardone}}</ion-col>
                        <ion-col col-4 style="padding-left: 11px">Red Card :</ion-col>
                        <ion-col col-2>{{post.redcardtwo}}</ion-col>
                    </ion-row>
                </div>
                <div>
                    <ion-row style="font-weight: 100">
                        <ion-col style="padding-left: 11px">Scorer :</ion-col>
                        <ion-col>{{post.goalscorerone}}</ion-col>
                        <ion-col style="padding-left: 11px">Scorer :</ion-col>
                        <ion-col>{{post.goalscorertwo}}</ion-col>
                    </ion-row>
                </div>
            </div>
            <ion-row style="height: 23px;margin: inherit;text-align: center;margin-top:35px">
                <ion-col col-1 style="padding: 3px;height: 100%">
                <div style="border-radius: 20px;background-color:#ff5722;width: 100%;height: 100%">             
                    <ion-icon style="padding-bottom: 2px;font-size: .9em" name="thumbs-up" color="white"></ion-icon>
                </div>
                </ion-col>
                <ion-col col-5 *ngIf="nooflikes[i] > 1 && liked[i]" style="text-align: left;padding-top: 2px">
                    <ion-note color="green"> you and {{nooflikes[i] - 1}}&nbsp;others</ion-note>
                </ion-col>
                <ion-col col-5 *ngIf="nooflikes[i] == 1 && liked[i]" style="text-align: left;padding-top: 2px">
                    <ion-note color="green"> you liked</ion-note>
                </ion-col>
                <ion-col col-5 *ngIf="nooflikes[i] == 1 && !liked[i]" style="text-align: left;padding-top: 2px">
                    <ion-note color="green">1&nbsp;other liked</ion-note>
                </ion-col>
                <ion-col col-5 *ngIf="nooflikes[i] == 0 && !liked[i]"></ion-col>

                <ion-col style="text-align: right;padding-top: 2px">
                    <ion-note color="red" *ngIf="noofdislikes[i] != 0">{{noofdislikes[i]}}&nbsp;Dislikes</ion-note>
                    <ion-note color="yellow" *ngIf="noofcomments[i] != 0">{{noofcomments[i]}}&nbsp;Comments</ion-note>
                </ion-col>
            </ion-row>
            <ion-row style="border: 1px solid #3a3a3a; margin: inherit">
                <ion-col>
                    <div>
                    <button (click)="likePost(post.$key,i)" style="color:#e040fb" ion-button icon-center full clear class="scorebutton">
                        <ion-icon [@like]="liked[i] == true ? 'ltrue':'lfalse'" style="font-size: 1.3em;padding-bottom:3px" name="thumbs-up" [class.gray-color]="liked[i] == false" ></ion-icon>
                        &nbsp;
                        <div [class.gray-color]="liked[i] == false" style="font-size:1.2rem;font-weight:500">Like</div>
                    </button>
                    </div>
                </ion-col>
                <ion-col>
                    <div>                        
                        <button (click)="dislikePost(post.$key,i)" color="red" ion-button icon-center full clear class="scorebutton">
                            <ion-icon [@dislike]="disliked[i] == true ? 'dtrue':'dfalse'" style="font-size: 1.3em;padding-top:3px" name="thumbs-down" [class.gray-color]="disliked[i] == false" ></ion-icon>
                            &nbsp;
                            <div [class.gray-color]="disliked[i] == false" style="font-size: 1.2rem;font-weight:500">Dislike</div>
                        </button>
                    </div>
                </ion-col>
                <ion-col>
                    <div>                        
                        <button (click)="commentPost(post.$key)" ion-button color="yellow" icon-center full clear class="scorebutton">
                            <ion-icon style="font-size: 1.4em" name="chatboxes"></ion-icon>
                            &nbsp;
                            <div style="font-size: 1.2rem;font-weight:500">Comment</div>
                        </button>
                    </div>
                </ion-col>
            </ion-row>
        </ion-card>
    </ion-list>

</ion-content>
