page-home {
  .home {
    background: #f4f4f4;
  }
  .home-card {
    box-shadow: none;
    padding: 0px;
    margin: 0px;
    margin-top: 4px;
    width: 100%;
  }
  .post {
    margin: 0px;
    margin-top: 5px;
    width: 100%;

  }
  #rulearrow {
    padding: 2px;
    height: auto;
  }
}
