page-guide {
	.slideone {
		background-color: #212121;
		color: yellow;
	}
	.slidetwo {
		background-color: #424242;
		color: yellow;
	}
	.slidethree {
		background-color: #212121;
		color: yellow;
	}
	.slidefour {
		background-color: #424242;
		color: yellow;
	}
}	
