<ion-header>
  <ion-toolbar color="background">
    <ion-buttons start>
      <button ion-button (click)="onDismiss()" color="white">Cancel</button>
    </ion-buttons>
    <ion-title>
      Add an Event
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="container">
	<ion-list>
		<ion-card color="card">
			<ion-item>
				<ion-label> Post Type: </ion-label>
				<ion-select [(ngModel)]="posttype">
			      <ion-option value="tournament">Tournament</ion-option>
			      <ion-option value="hiring">Trial for Hiring</ion-option>
			      <ion-option value="image">Text and Video/Image</ion-option>
			      <ion-option value="youtube">Share Youtube video</ion-option>
			      <ion-option value="score">Score Update</ion-option>
			      <ion-option value="result">Match Result</ion-option>
			    </ion-select>
			</ion-item>
		</ion-card>
		<ion-card color="card" *ngIf = "(posttype != 'image') && (posttype != 'youtube') ">
			<ion-item>
				<ion-label> Sport Type: </ion-label>
				<ion-select [(ngModel)]="sporttype">
			      <ion-option value="football">Football</ion-option>
			      <ion-option value="cricket">Cricket</ion-option>
			      <ion-option value="hokey">Hokey</ion-option>
			      <ion-option value="badminton">Badminton</ion-option>
			      <ion-option value="tenis">Tenis</ion-option>
			      <ion-option value="tabletenis">Table Tenis</ion-option>
			    </ion-select>
			</ion-item>
		</ion-card>
		<ion-card color="card" *ngIf="posttype == 'score' && sporttype == 'cricket'">
			<ion-item>
				<ion-label>Cricket Type: </ion-label>
				<ion-select [(ngModel)]="cricket">
			      		<ion-option value="odi">ODI</ion-option>
			      		<ion-option value="test">Test</ion-option>
			     </ion-select>
			</ion-item>
		</ion-card>
		
		<div [ngSwitch] = "posttype" >			
			<!-- Tournament Post -->
			<div *ngSwitchCase = "'tournament'">			
				<ion-card color="card">
					<ion-item>
			  			<ion-label>Event Date </ion-label>
			  			<ion-datetime displayFormat="DD MMM, YY" pickerFormat="DDD MMM YYYY" [(ngModel)]="eventdate"></ion-datetime>
					</ion-item>
				</ion-card>
				<ion-card color="card">
					<ion-row>
						<ion-col col-4 class="colfour">
			  				<ion-label class="postlabel">Event Venue </ion-label>
			  			</ion-col>
			  			<ion-col>
			  				<ion-input class="datainput" value="eventvenue" [(ngModel)] = "eventvenue" placeholder="Our club ground.."></ion-input>
			  			</ion-col>
					</ion-row>
				</ion-card>
				<ion-card color="card">
					<ion-item>
						<ion-row>
							<ion-col col-6>
								<span style="color: yellow">Club ground achieve picture:</span>
							</ion-col>
							<ion-col class="iconcolumn">
								<ion-icon class="icon-color" (click)="capturePictureByCamera()" name="camera"></ion-icon>
							</ion-col>
							<ion-col class="iconcolumn">
								<ion-icon class="icon-color" (click)="selectGalleryImage()" name="image"></ion-icon>
							</ion-col>
						</ion-row>
					</ion-item>
				</ion-card>

				<ion-card color="card">					
					<ion-row>
						<ion-col col-4 class="colfour">
							<ion-label class="postlabel">Entry Fee:</ion-label>
						</ion-col>
						<ion-col>
							<ion-input class="datainput" [(ngModel)]="entryfee" placeholder="Default : 0"></ion-input>
						</ion-col>
					</ion-row>					
					<ion-row>
						<ion-col col-4 class="colfour">
							<ion-label class="postlabel">1st Prize:</ion-label>
						</ion-col>
						<ion-col>
							<ion-input class="datainput" [(ngModel)]="prize" placeholder="Default : 0"></ion-input>
						</ion-col>
					</ion-row>
				</ion-card>
				<ion-card color="card">
					<ion-card-header color="yellow">How happy for the event</ion-card-header>
					<ion-card-content>
						<ion-textarea style="background: black" value="centuarea" [(ngModel)]="centuarea" placeholder="We are extreamly happy to organize this event in our club. We wish it to be a great tournament with your participation :)"></ion-textarea>
					</ion-card-content>
				</ion-card>
				<ion-card color="card">
					<ion-card-header style="color: yellow">Add Rules:</ion-card-header>
					<ion-card-content>
						<ion-list *ngFor= "let rule of rules,let i = index" style="padding-left: 10px;background: black">				
							<ion-row>
								<ion-col col-10 style="margin: auto">
									{{i+1}}. &nbsp;&nbsp; {{rule}}
								</ion-col>
								<ion-col col-2 style="margin: auto">
									<ion-icon name="trash" color="red" (click)="onRuleDel(i)"></ion-icon>
								</ion-col>
							</ion-row>
							
						</ion-list>
					</ion-card-content>
					<ion-item>
						<ion-input style="background: black" value="rule" [(ngModel)] = "rule" placeholder="Write a rule.."></ion-input>
					</ion-item>
					<div style="float: right;margin-top: 5px">
						<button ion-button class="post-button" (click)="onRuleAdd()">
							<ion-icon name="add-circle"></ion-icon>
							&nbsp; Add
						</button>
					</div>
				</ion-card>
				<br><br>
				<ion-card color="card">
					<button class="post-button" (click)="tournamentSubmit()" ion-button full>Post</button>
				</ion-card>
				<ion-card color="card">
					<button ion-button color="danger" full clear (click)="onDismiss()">Cancel</button>
				</ion-card>
			</div>
			<!-- Tournament post ends -->

			<!-- Hiring Trial post start -->
			<div *ngSwitchCase = "'hiring'">			
				<ion-card color="card">
					<ion-item>
			  			<ion-label>Event Date </ion-label>
			  			<ion-datetime displayFormat="DD MMM, YY" pickerFormat="DDD MMM YYYY" [(ngModel)]="eventdate"></ion-datetime>
					</ion-item>
				</ion-card>
				<ion-card color="card">
					<ion-item>
			  			<ion-label>Event Venue </ion-label>
			  			<ion-input class="datainput" value="eventvenue" [(ngModel)] = "eventvenue" placeholder="Default: our club ground.."></ion-input>
					</ion-item>
				</ion-card>
				<ion-card color="card">
					<ion-item>
						<ion-row>
							<ion-col col-6>
								<span style="color: yellow">Club ground achieve picture:</span>
							</ion-col>
							<ion-col class="iconcolumn">
								<ion-icon class="icon-color" (click)="capturePictureByCamera()" name="camera"></ion-icon>
							</ion-col>
							<ion-col class="iconcolumn">
								<ion-icon class="icon-color" (click)="selectGalleryImage()" name="image"></ion-icon>
							</ion-col>
						</ion-row>
					</ion-item>
				</ion-card>
				<ion-card color="card">
					<ion-card-header color="yellow">Some honest talk</ion-card-header>
					<ion-card-content>
						<ion-textarea style="background: black" value="honestarea" [(ngModel)]="honestarea" placeholder="The trial will be taken on First come first basis if many players wish to participate. So hurry up !!" ></ion-textarea>
					</ion-card-content>
				</ion-card>
				<ion-card color="card">
					<ion-card-header color="yellow">Add Criteria:</ion-card-header>
					<ion-card-content>
						<ion-list *ngFor= "let criterion of criteria,let i = index" style="padding-left: 10px;background: black">
							<ion-row>
								<ion-col col-10 style="margin: auto">
									{{i+1}} &nbsp;&nbsp; {{criterion}}
								</ion-col>
								<ion-col col-2 style="margin: auto">
									<ion-icon name="trash" color="red" (click)="onCriteriaDel(i)"></ion-icon>
								</ion-col>
							</ion-row>
						</ion-list>
					</ion-card-content>
					<ion-item>
						<ion-input style="background: black" value="criterion" [(ngModel)] = "criterion" placeholder="Write a criterion.."></ion-input>
					</ion-item>
					<div style="float: right;margin-top: 5px">
						<button class="post-button" ion-button (click)="onCriteriaAdd()">
							<ion-icon name="add-circle"></ion-icon>
							&nbsp; Add
						</button>
					</div>
				</ion-card>
				<br><br>
				<ion-card color="card">
					<button class="post-button" (click)="hiringSubmit()" ion-button full>Post</button>
				</ion-card>
				<ion-card color="card">
					<button ion-button color="danger" full clear (click)="onDismiss()">Cancel</button>
				</ion-card>
			</div>
			<!-- Hiring Trial post ends -->

			<!-- Text and video or image post starts -->
			<div *ngSwitchCase = "'image'">			
				<ion-card color="card">
					<ion-item>
						<ion-row>
							<ion-col col-10 class="textcolumn">
								<span style="color:yellow">Capture a picture:</span>
							</ion-col>
							<ion-col col-2 class="iconcolumn">
								<ion-icon class="icon-color" (click)="capturePictureByCamera()" name="camera"></ion-icon>
							</ion-col>
						</ion-row>
					</ion-item>
				</ion-card>

				<button color="yellow" ion-button clear full>OR</button>

				<ion-card color="card">
					<ion-item>
						<ion-row>
							<ion-col col-10 class="textcolumn">
								<span style="color: yellow">Record a video:</span>
							</ion-col>
							<ion-col col-2 class="iconcolumn">
								<ion-icon class="icon-color" (click)="captureVideoByCamera()" name="videocam"></ion-icon>
							</ion-col>
						</ion-row>
					</ion-item>
				</ion-card>

				<button color="yellow" ion-button clear full>OR</button>

				<ion-card color="card">
					<ion-item>
						<ion-row>
							<ion-col col-10 class="textcolumn">
								<span style="color: yellow">Select image from gallery:</span>
							</ion-col>
							<ion-col col-2 class="iconcolumn">
								<ion-icon class="icon-color" (click)="selectGalleryImage()" name="image"></ion-icon>
							</ion-col>
						</ion-row>
					</ion-item>
				</ion-card>

				<button color="yellow" ion-button clear full>OR</button>

				<ion-card color="card">
					<ion-item>
						<ion-row>
							<ion-col col-10 class="textcolumn">
								<span style="color: yellow">Select video from gallery: </span>
							</ion-col>
							<ion-col col-2 class="iconcolumn">
								<ion-icon class="icon-color" (click)="selectGalleryVideo()" name="image"></ion-icon>
							</ion-col>
						</ion-row>
					</ion-item>
				</ion-card>
				<ion-card color="card">
					<ion-card-header color="yellow">Title:</ion-card-header>
					<ion-card-content>
						<ion-input style="background: black" vlaue="imagetitle" [(ngModel)]="imagetitle" placeholder="Give an attractive title :)"></ion-input>
					</ion-card-content>
				</ion-card>
				
				<ion-card color="card">
					<button class="post-button" (click)="textAndImageVideoSubmit()" ion-button full>Post</button>
				</ion-card>
				<ion-card color="card">
					<button ion-button color="danger" full clear (click)="onDismiss()">Cancel</button>
				</ion-card>
			</div>
			<!-- video or image post ends -->

			<!-- Score update post starts -->
			<div *ngSwitchCase = "'score'">
				<div [ngSwitch] = "sporttype">
					<div *ngSwitchCase = "'football'">	<!-- Football score post-->				
						<page-footballscore></page-footballscore>
					</div>
					<div *ngSwitchCase = "'cricket'">	<!-- Cricket score post -->				
						<page-cricketscore [crickettype] = "cricket" ></page-cricketscore>
					</div>
					<div *ngSwitchCase = "'hokey'">	<!-- Hokey score post -->			
						<page-hokeyscore></page-hokeyscore>
					</div>
					<div *ngSwitchCase = "'badminton'">	<!-- Badminton post -->			
						<page-badmintonscore></page-badmintonscore>
					</div>
					<div *ngSwitchCase = "'tenis'">					
						<page-tenisscore></page-tenisscore>
					</div>
					<div *ngSwitchCase = "'tabletenis'">					
						<page-ttscore></page-ttscore>
					</div>									
				</div>
			</div>
			<!-- Score update post ends -->

			<!-- Match result post starts -->
			<div *ngSwitchCase = "'result'">			
				<!-- place for Match result Post -->
				<p color="danger">Not implemented yet..Sorry :(</p>
				<ion-card>
					<button class="post-button" (click)="resultSubmit()" ion-button full>Post</button>
				</ion-card>
				<ion-card>
					<button ion-button color="danger" full clear (click)="onDismiss()">Cancel</button>
				</ion-card>
			</div>
			<!-- Match result post ends -->

			<!-- Youtube post starts -->
			<div *ngSwitchCase = "'youtube'">			
				
				<ion-card color="card">
					<ion-card-header color="yellow">Paste link:</ion-card-header>
					<ion-card-content>
						<ion-input style="background: black" vlaue="youtubelink" [(ngModel)]="youtubelink"></ion-input>
					</ion-card-content>
				</ion-card>
				<ion-card color="card">
					<ion-card-header color="yellow">Title:</ion-card-header>
					<ion-card-content>
						<ion-input style="background: black" vlaue="youtubetitle" [(ngModel)]="youtubetitle" placeholder="Give a proper title."></ion-input>
					</ion-card-content>
				</ion-card>
				<ion-card color="card">
					<button class="post-button" (click)="youtubeSubmit()" ion-button full>Post</button>
				</ion-card>
				<ion-card color="card">
					<button ion-button color="danger" full clear (click)="onDismiss()">Cancel</button>
				</ion-card>
			</div>
			<!-- Youtube post ends -->
		</div>
	</ion-list>
</ion-content>
