<ion-header>
  <ion-toolbar>
    <ion-buttons start>
      <button ion-button color="primary" (click)="onDismiss()">Cancel</button>
    </ion-buttons>
    <ion-title>
      Add an Event
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding class="container">
	<ion-list>
		<ion-card>
			<ion-item>
				<ion-label> Post Type: </ion-label>
				<ion-select [(ngModel)]="posttype">
			      <ion-option value="tournament">Tournament</ion-option>
			      <ion-option value="hiring">Hiring Trial</ion-option>
			      <ion-option value="image">Text and Video/Image</ion-option>
			      <ion-option value="score">Score Update</ion-option>
			      <ion-option value="result">Match Result</ion-option>
			      <ion-option value="tips">Some Tips</ion-option>
			    </ion-select>
			</ion-item>
		</ion-card>
		<ion-card *ngIf = "(posttype != 'image') && (posttype != 'tips') ">
			<ion-item>
				<ion-label> Sport Type: </ion-label>
				<ion-select [(ngModel)]="sporttype">
			      <ion-option value="football">Football</ion-option>
			      <ion-option value="cricket">Cricket</ion-option>
			      <ion-option value="hokey">Hokey</ion-option>
			      <ion-option value="badminton">Badminton</ion-option>
			      <ion-option value="tenis">Tenis</ion-option>
			      <ion-option value="tabletenis">Table Tenis</ion-option>
			    </ion-select>
			</ion-item>
		</ion-card>
		<ion-card *ngIf="posttype == 'score' && sporttype == 'cricket'">
			<ion-item>
				<ion-label>Cricket Type: </ion-label>
				<ion-select [(ngModel)]="cricket">
			      		<ion-option value="odi">ODI</ion-option>
			      		<ion-option value="test">Test</ion-option>
			     </ion-select>
			</ion-item>
		</ion-card>
		
		<div [ngSwitch] = "posttype" >			
			<!-- Tournament Post -->
			<div *ngSwitchCase = "'tournament'">			
				<ion-card>
					<ion-item>
			  			<ion-label>Event Date </ion-label>
			  			<ion-datetime displayFormat="MM/DD/YYYY" [(ngModel)]="eventdate"></ion-datetime>
					</ion-item>
				</ion-card>
				<ion-card>
					<ion-item>
					  <ion-label>Event Time</ion-label>
					  <ion-datetime displayFormat="h:mm A" pickerFormat="h mm A" [(ngModel)]="eventtime"></ion-datetime>
					</ion-item>
				</ion-card>
				<ion-card>					
					<ion-row>
						<ion-col col-4>
							<ion-label>Entry Fee:</ion-label>
						</ion-col>
						<ion-col col-8>
							<ion-input value="entryfee" [(ngModel)] = "entryfee" placeholder="Enter entry fee..."></ion-input>
						</ion-col>
					</ion-row>					
					<ion-row>
						<ion-col col-4>
							<ion-label>1st Prize:</ion-label>
						</ion-col>
						<ion-col col-8>
							<ion-input value="prize" [(ngModel)] = "prize" placeholder="Enter prize money..."></ion-input>
						</ion-col>
					</ion-row>
				</ion-card>
				<ion-card>
					<ion-item>Rules:</ion-item>
					<ol>
						<li *ngFor= "let rule of rules,let i = index">
							<ion-card>
								<ion-row>
									<ion-col col-10>
										{{rule}}
									</ion-col>
									<ion-col col-2>
										<ion-icon name="trash"  (click)="onRuleDel(i)"></ion-icon>
									</ion-col>
								</ion-row>
							</ion-card>
						</li>
					</ol>
					<ion-item>
						<ion-input value="rule" [(ngModel)] = "rule" placeholder="Write a rule.."></ion-input>
					</ion-item>
					<div style="float: right">
						<button ion-button (click)="onRuleAdd()">
							<ion-icon name="add-circle"></ion-icon>
							<span style="width: 5px"></span>Add
						</button>
					</div>
				</ion-card>
				<br><br>
				<ion-card>
					<button (click)="tournamentSubmit()" ion-button full>Post</button>
				</ion-card>
				<ion-card>
					<button ion-button color="danger" full clear (click)="onDismiss()">Cancel</button>
				</ion-card>
			</div>
			<!-- Tournament post ends -->

			<!-- Hiring Trial post start -->
			<div *ngSwitchCase = "'hiring'">			
				<ion-card>
					<ion-item>
			  			<ion-label>Event Date </ion-label>
			  			<ion-datetime displayFormat="MM/DD/YYYY" [(ngModel)]="eventdate"></ion-datetime>
					</ion-item>
				</ion-card>
				<ion-card>
					<ion-item>
					  <ion-label>Event Time</ion-label>
					  <ion-datetime displayFormat="h:mm A" pickerFormat="h mm A" [(ngModel)]="eventtime"></ion-datetime>
					</ion-item>
				</ion-card>
				<ion-card>
					<ion-item>Criteria:</ion-item>
					<ol>
						<li *ngFor= "let criterion of criteria,let i = index">
							<ion-card>
								<ion-row>
									<ion-col col-10>
										{{criterion}}
									</ion-col>
									<ion-col col-2>
										<ion-icon name="trash"  (click)="onCriteriaDel(i)"></ion-icon>
									</ion-col>
								</ion-row>
							</ion-card>
						</li>
					</ol>
					<ion-item>
						<ion-input value="criterion" [(ngModel)] = "criterion" placeholder="Write a criterion.."></ion-input>
					</ion-item>
					<div style="float: right">
						<button ion-button (click)="onCriteriaAdd()">
							<ion-icon name="add-circle"></ion-icon>
							<span style="width: 5px"></span>Add
						</button>
					</div>
				</ion-card>
				<br><br>
				<ion-card>
					<button (click)="hiringSubmit()" ion-button full>Post</button>
				</ion-card>
				<ion-card>
					<button ion-button color="danger" full clear (click)="onDismiss()">Cancel</button>
				</ion-card>
			</div>
			<!-- Hiring Trial post ends -->

			<!-- video or image post starts -->
			<div *ngSwitchCase = "'image'">			
				<!-- place for image or video upload -->
				<ion-card>
					<ion-item>
						<ion-row>
							<ion-col col-10>Take a picture: </ion-col>
							<ion-col col-2>
								<button style="background-color: white">
								 	<ion-icon name="camera"></ion-icon>
								</button>
							</ion-col>
						</ion-row>
					</ion-item>
				</ion-card>
				<button ion-button clear full>
					OR
				</button>
				<ion-card>
					<ion-item>
						<ion-row>
							<ion-col col-10>Take a video: </ion-col>
							<ion-col col-2>
								<button style="background-color: white">
								 	<ion-icon name="camera"></ion-icon>
								</button>
							</ion-col>
						</ion-row>
					</ion-item>
				</ion-card>
				<button ion-button clear full>
					OR
				</button>
				<ion-card>
					<ion-item>
						<ion-row>
							<ion-col col-10>Upload from gallery: </ion-col>
							<ion-col col-2>
								<button (click)="chooseFile()" style="background-color: white">
									<ion-icon name="image"></ion-icon>
								</button>
							</ion-col>
						</ion-row>
					</ion-item>
				</ion-card>
				<ion-card>
					<ion-item>Title:</ion-item>
					<ion-item>
						<ion-input vlaue="imagetitle" [(ngModel)]="imagetitle" placeholder="Give an attractive title :)"></ion-input>
					</ion-item>
				</ion-card>
				
				<ion-card>
					<button (click)="imageSubmit()" ion-button full>Post</button>
				</ion-card>
				<ion-card>
					<button ion-button color="danger" full clear (click)="onDismiss()">Cancel</button>
				</ion-card>
			</div>
			<!-- video or image post ends -->

			<!-- Score update post starts -->
			<div *ngSwitchCase = "'score'">
				<div [ngSwitch] = "sporttype">
					<div *ngSwitchCase = "'football'">	<!-- Football score post-->				
						<page-footballscore></page-footballscore>
					</div>
					<div *ngSwitchCase = "'cricket'">	<!-- Cricket score post -->				
						<page-cricketscore [cricketarray] = "[posttype,sporttype,cricket]" ></page-cricketscore>
					</div>
					<div *ngSwitchCase = "'hokey'">	<!-- Hokey score post -->			
						<page-hokeyscore></page-hokeyscore>
					</div>
					<div *ngSwitchCase = "'badminton'">	<!-- Badminton post -->			
						<page-badmintonscore></page-badmintonscore>
					</div>
					<div *ngSwitchCase = "'tenis'">					
						<page-tenisscore></page-tenisscore>
					</div>
					<div *ngSwitchCase = "'tabletenis'">					
						<page-ttscore></page-ttscore>
					</div>									
				</div>
			</div>
			<!-- Score update post ends -->

			<!-- Match result post starts -->
			<div *ngSwitchCase = "'result'">			
				<!-- place for Match result Post -->
				<ion-card>
					<button (click)="resultSubmit()" ion-button full>Post</button>
				</ion-card>
				<ion-card>
					<button ion-button color="danger" full clear (click)="onDismiss()">Cancel</button>
				</ion-card>
			</div>
			<!-- Match result post ends -->

			<!-- Some tips post starts -->
			<div *ngSwitchCase = "'tips'">			
				<!-- place for tips post -->
				<ion-card>
					<button (click)="tipsSubmit()" ion-button full>Post</button>
				</ion-card>
				<ion-card>
					<button ion-button color="danger" full clear (click)="onDismiss()">Cancel</button>
				</ion-card>
			</div>
			<!-- Some tips post ends -->
		</div>
	</ion-list>
</ion-content>
