
$font-path: "../assets/fonts";

@import "ionic.globals";

$colors: (
  primary:    #2196F3,
  danger:     #E53935,
  light:      #f4f4f4,
  dark:       #222,
  background: #212121,
  border: 	  #e0e0e0,
  white:      #c3c3c3,
  red:		    #E53935,
  pink:		    #E91E63,
  purple:	    #9C27B0,
  deeppurple: #673AB7,
  blue: 	    #2196F3,
  lightblue:  #03A9F4,
  cyan:		    #00BCD4,
  teal:		    #009688,
  green:	    #4CAF50,
  lightgreen: #8BC34A,
  yellow: 	  #FFEB3B,
  amber: 	    #FFC107,
  orange:  	  #FF9800,
  deeporange: #FF5722,
  bluegrey:   #607D8B,
  black:      #000000,
  card:       #424242,
  heading:    #FFFF00,
);


// App iOS Variables
// --------------------------------------------------
// iOS only Sass variables can go here




// App Material Design Variables
// --------------------------------------------------
// Material Design only Sass variables can go here

$popover-md-width: 150px;
$text-input-md-show-focus-highlight: false;
$list-md-header-border-top: none;
$searchbar-md-input-background-color: #424242;
$searchbar-md-input-text-color: #FFEB3B;
$searchbar-md-input-search-icon-color: #FFEB3B;
$searchbar-md-input-clear-icon-color: #FFEB3B;
$tabs-md-tab-min-height: 40px;

// App Windows Variables
// --------------------------------------------------
// Windows only Sass variables can go here




// App Theme
// --------------------------------------------------
// Ionic apps can have different themes applied, which can
// then be future customized. This import comes last
// so that the above variables are used and Ionic's
// default are overridden.

@import "ionic.theme.default";


// Ionicons
// --------------------------------------------------
// The premium icon font for Ionic. For more info, please see:
// http://ionicframework.com/docs/v2/ionicons/

@import "ionic.ionicons";


// Fonts
// --------------------------------------------------

@import "roboto";
@import "noto-sans";
