
<ion-header>
	<ion-navbar color="black">
		<ion-title>{{name}}</ion-title>
		<ion-buttons end>
			<button ion-button *ngIf="sameuser()" (click)="onEditProfile()" style="margin-right: 30px;font-size: 1.3em">
	      	 <ion-icon name="create" color="yellow"></ion-icon>
	      	</button>
			<button ion-button *ngIf="sameuser()" (click)="onLogout()" style="margin-right: 10px;font-size: 1.3em">
				 <ion-icon name="log-out" color="yellow"></ion-icon>
			</button>
	    </ion-buttons>
	</ion-navbar>
</ion-header>

<!-- For clubs profile -->
<ion-content class="userprofile" *ngIf="!compareusertype()" parallaxprofile>

	<div class="parallaxheader">		
		<!-- <img class="coverimage" [src]="coverimage" *ngIf="coverimage"> -->
	</div>


	<!-- Place location or direction or distance from current user here -->

	<div class="parallaxcontent">		
		<img class="profileimage" [src]="profileimage" *ngIf="profileimage != null">
	    <div class="card-title">{{name}}</div>
	    <div class="card-subtitle">We care our players..</div>
		
		<ion-card color="card">
		 	<ion-row *ngIf="!sameuser()">
		      <ion-col col-4>
		        <button ion-button icon-left clear small color="blue" class="followerfont">
		          <ion-icon name="people"></ion-icon>
		          <ion-note>{{countfollowers}} Followers</ion-note>
		        </button>
		      </ion-col>
		      <ion-col col-4>
		        <button ion-button icon-left clear small color="blue" class="followingfont">
		          <ion-icon name="people"></ion-icon>
		          <ion-note>{{countfollowings}} Following</ion-note>
		        </button>
		      </ion-col>
		      <ion-col col-4>
		        <button *ngIf="!following" ion-button icon-left small outline color="blue" class="followfont" (click)= "follow()" >
		          <ion-icon name="person"></ion-icon>
		          Follow
		        </button>
		        <button *ngIf="following" ion-button icon-left small outline color="danger" class="unfollowfont" (click)= "unfollow()" >
		          <ion-icon name="person"></ion-icon>
		          Unfollow
		        </button>
		      </ion-col>
		    </ion-row>
		    <ion-row *ngIf="sameuser()">
			    <ion-col col-6>
			        <button ion-button icon-left clear small color="blue" class="followerfont">
			          <ion-icon name="people"></ion-icon>
			          <ion-note>{{countfollowers}} Followers</ion-note>
			        </button>
			      </ion-col>
			      <ion-col col-6>
			        <button ion-button icon-left clear small color="blue" class="followingfont">
			          <ion-icon name="people"></ion-icon>
			          <ion-note>{{countfollowings}} Following</ion-note>
			        </button>
			      </ion-col>
		    </ion-row>
	 	</ion-card>

	</div>
	<div class="contact">		
		<ion-card class="generalcard">
			<ion-card-header class="cardheader">					
				Contact details:
			</ion-card-header>
			<ion-card-content>
				<ion-item class="cardcontent">
					<ion-icon name="call"></ion-icon>
					{{contactno}}
				</ion-item>
				<ion-item class="cardcontent">
					<ion-icon name="mail"></ion-icon>
					{{useremail}}
				</ion-item>
			</ion-card-content>
		</ion-card>
	</div>
	<div class="myleagues">
		<ion-card class="generalcard">
			<ion-card-header class="cardheader">Our organized Leagues</ion-card-header>
			<ion-card-content>
				<ion-item *ngFor="let league of myleagues" class="cardcontent">
					{{league.leaguename}}
				</ion-item>
			</ion-card-content>
		</ion-card>
	</div>
	<div class="participate">
		<ion-card class="generalcard">
			<ion-card-header class="cardheader">Our participated Leagues</ion-card-header>
			<ion-card-content>
				<ion-item *ngFor="let league of participate" class="cardcontent">
					{{league.leaguename}}
				</ion-item>
			</ion-card-content>
		</ion-card>
	</div>
	<div class="myposts">
		<ion-list>
			<ion-list-header class="listheader">Our posts</ion-list-header>
			<ion-item *ngFor="let post of myposts" class="postitem">
				<ion-avatar item-left>
                    <!-- <img [src]="post.userimage" *ngIf="post.userimage"> -->
                </ion-avatar>
                <h2>
                    {{post.username || "Forgot to edit name"}}
                </h2>
                <p>
                	<ion-icon name="time" color="#d2d2d2"></ion-icon>&nbsp;
                	<span color="orange">{{post.created_at}}</span>
                </p>
			</ion-item>
		</ion-list>
	</div>

</ion-content>

<!-- For players profile -->
<ion-content *ngIf="compareusertype()" class="userprofile" parallaxprofile>

	<div class="parallaxheader">		
		<img class="coverimage" [src]="coverimage" *ngIf="coverimage != null">
	</div>


	<!-- Place location or direction or distance from current user here -->
	<!-- <div class="parallaxcontent">		
		<div class="playerprofilediv">		
			<img class="playerprofileimg" [src]="profileimage" *ngIf="profileimage != null">
		    <p style="color: yellow"><b>{{name}}</b></p>
		    <p style="color: yellow">A {{sportname}} player</p>	
		</div>
		<div>
			<ion-card color="card">
			 	<button ion-button icon-left clear small color="blue" class="followingfont">
		          <ion-icon name="people"></ion-icon>
		          <ion-note>{{countfollowings}} Following</ion-note>
		        </button>
		 	</ion-card>		
		</div>

		<div class="contact">		
			<ion-card class="generalcard">
				<ion-card-header class="cardheader">					
					Contact details:
				</ion-card-header>
				<ion-card-content>
					<ion-item class="cardcontent">
						<ion-icon name="call"></ion-icon>&nbsp;&nbsp;
						{{contactno}}
					</ion-item>
					<ion-item class="cardcontent">
						<ion-icon name="mail"></ion-icon>&nbsp;&nbsp;
						{{useremail}}
					</ion-item>
				</ion-card-content>
			</ion-card>
		</div>
	</div> -->

	<div class="parallaxcontent">		
		<img class="profileimage" [src]="profileimage" *ngIf="profileimage != null">
	    <div class="card-title">{{name}}</div>
		
		<ion-card color="card">
		 	<ion-row *ngIf="!sameuser()">
		      <ion-col col-4>
		        <button ion-button icon-left clear small color="blue" class="followerfont">
		          <ion-icon name="people"></ion-icon>
		          <ion-note>{{countfollowers}} Followers</ion-note>
		        </button>
		      </ion-col>
		      <ion-col col-4>
		        <button ion-button icon-left clear small color="blue" class="followingfont">
		          <ion-icon name="people"></ion-icon>
		          <ion-note>{{countfollowings}} Following</ion-note>
		        </button>
		      </ion-col>
		      <ion-col col-4>
		        <button *ngIf="!following" ion-button icon-left small outline color="blue" class="followfont" (click)= "follow()" >
		          <ion-icon name="person"></ion-icon>
		          Follow
		        </button>
		        <button *ngIf="following" ion-button icon-left small outline color="danger" class="unfollowfont" (click)= "unfollow()" >
		          <ion-icon name="person"></ion-icon>
		          Unfollow
		        </button>
		      </ion-col>
		    </ion-row>
		    <ion-row *ngIf="sameuser()">
			    <ion-col col-6>
			        <button ion-button icon-left clear small color="blue" class="followerfont">
			          <ion-icon name="people"></ion-icon>
			          <ion-note>{{countfollowers}} Followers</ion-note>
			        </button>
			      </ion-col>
			      <ion-col col-6>
			        <button ion-button icon-left clear small color="blue" class="followingfont">
			          <ion-icon name="people"></ion-icon>
			          <ion-note>{{countfollowings}} Following</ion-note>
			        </button>
			      </ion-col>
		    </ion-row>
	 	</ion-card>
	</div>
	<div class="contact">		
		<ion-card class="generalcard">
			<ion-card-header class="cardheader">					
				Contact details:
			</ion-card-header>
			<ion-card-content>
				<ion-item class="cardcontent">
					<ion-icon name="call"></ion-icon>
					{{contactno}}
				</ion-item>
				<ion-item class="cardcontent">
					<ion-icon name="mail"></ion-icon>
					{{useremail}}
				</ion-item>
			</ion-card-content>
		</ion-card>
	</div>
	
</ion-content>

