

<ion-header>
	<ion-navbar>
		<ion-title>post</ion-title>
	</ion-navbar>
</ion-header>


<ion-content class="card-background-page">
	<ion-card>
	    <!-- image goes here -->
	    <div class="card-title">Mohun Bagan</div>
	    <p class="card-subtitle">We give importance to Talent</p>
	</ion-card>
 	<ion-card>
	 	<ion-row>
	      <ion-col>
	        <button ion-button icon-left clear small>
	          <ion-icon name="people"></ion-icon>
	          <div style="text-transform: none">{{participating}} Teams Participating</div>
	        </button>
	      </ion-col>
	    </ion-row>
 	</ion-card>
 	<ion-card>
 		<ion-list>
	 		<ion-item>
	 			<h2>The Event Rules:</h2>
	 		</ion-item>
	 		<ion-item>
		 		<ol>
		 			<li *ngFor="let rule of rules">
		 				{{rule}}
		 			</li>
		 		</ol>
	 		</ion-item>
 		</ion-list>
 	</ion-card>
 	
 	<div *ngIf="posttype != 'hiring'"> 		
	 	<button *ngIf="!participated" ion-button color="primary" full style="text-transform: none" (click)="onAccept()" >
	 		Accept Challenge <span style="width: 5px" ></span>
	 		<ion-icon name="happy"></ion-icon>
	 	</button>
	 	<button *ngIf="participated" ion-button color="danger" full style="text-transform: none" (click)="onDecline()" >
	 		Reject Challenge <span style="width: 5px"></span>
	 		<ion-icon name="sad"></ion-icon>
	 	</button>
	 	<button *ngIf="!participated" ion-button color="danger" block outline style="text-transform: none" (click)="onCancel()">I'm Afried</button>
		<button *ngIf="participated" ion-button color="danger" block outline style="text-transform: none" (click)="onCancel()">I'm fine</button>
 	</div>
 	<div *ngIf="posttype == 'hiring'">
 		<button *ngIf="!participated" ion-button color="primary" full style="text-transform: none" (click)="onAccept()" >
	 		Participating <span style="width: 5px" ></span>
	 		<ion-icon name="happy"></ion-icon>
	 	</button>
	 	<button *ngIf="participated" ion-button color="danger" full style="text-transform: none" (click)="onDecline()" >
	 		Withdrawing <span style="width: 5px"></span>
	 		<ion-icon name="sad"></ion-icon>
	 	</button>
	 	<button *ngIf="!participated" ion-button color="danger" block outline style="text-transform: none" (click)="onCancel()">Not Qualified</button>
		<button *ngIf="participated" ion-button color="danger" block outline style="text-transform: none" (click)="onCancel()">I'm Qualified</button>
 	</div>
</ion-content>
