page-post {

	ion-card {
		position: relative;
		text-align: center;
		padding: 0px;
	}
	.coverimg {
		height: 150px;width: 100%;
		filter: blur(1px);
	}
	.posttitle {
		position: relative;
		text-align: center;
		font-size: 2.0em;
		width: 100%;
		font-weight: bold;
		color: white;
		top: -20%;
	}
}
