/* Global css */

* {
	font-weight: 100;
	font-family: "Roboto", "Helvetica Neue", sans-serif;
}

ion-label {
	font-weight: 100;
	white-space: normal;
}
.toolbar-title-md {
	font-weight: 100;
	color: white;
}
.toolbar-background-md{
	background: inherit;
}
ion-app.md {
	font-family: "Roboto", "Helvetica Neue", sans-serif;
}
.button-md {
	margin: 0px;
	text-transform: none;
	font-weight: 100;	
}
.list-md {
	margin: 2px 0px 10px 0px;
}
.card-md {
	width: inherit;
	margin: 6px;
}
.item-md.item-block .item-inner {
	border-bottom : none;
}
.menutop {
	height: 200px;
}
.menuitem {
	background-color: #212121;
}
.menubutton{
	color: white;
	font-size: medium;
}
.tabbar {
	height: 56px;
}
.scroll-content {
  margin-bottom: 0px;
}

