
<ion-split-pane>
  <ion-menu [content]="content">
    <ion-content style="background-color: #212121">
      <ion-item color="card" class="menuitem">
        <ion-avatar item-left>
          <img style="height: 60px; width: 60px" [src]="profileimage" *ngIf= "profileimage">
        </ion-avatar>
        <h2> {{username || "Forgot to edit name"}} </h2>
      </ion-item>
      <ion-list no-lines>
        <button color="card" ion-item menuClose *ngFor="let p of pages" (click)="openPage(p)">{{ p.title }}</button>
      </ion-list>
    </ion-content>
  </ion-menu>
  <ion-nav [root]="rootPage" main #content></ion-nav>
</ion-split-pane>