// http://ionicframework.com/docs/v2/theming/


/*// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.*/

* {
	font-weight: 100;
}

ion-label {
	font-weight: 100;
	white-space: normal;
}
.toolbar-title-md {
	font-weight: 100;
	color: white;
}
.toolbar-background-md{
	background: inherit;
}
ion-app.md {
	font-family: "Roboto", "Helvetica Neue", sans-serif;
}
.button-md {
	margin: 0px;
	text-transform: none;
	font-weight: 100;	
}
.list-md {
	margin: 2px 0px 10px 0px;
}
.card-md {
	width: inherit;
	margin: 6px;
}
