page-editleague {


	.league {
		background-color: #212121;
	}
	.item-md.item-block .item-inner{
		border-bottom: none;
	}
	.select-md {
		color: orange;
	}
	.datetime-md {
		color: orange;
	}
	.text-input-md {
		color: orange;
	}
	.colfour {
		text-align: left;
		padding-left: 15px !important;
	}
	.leaguelabel {
		color: yellow;
	}
	.datainput {
		background-color: black;
	}
	.publish {
		width: 97%; 
		margin: 6px;
		margin-top: 10px;
	}
}
