

<ion-header>

  <ion-navbar color="black">
  	<button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Update league result</ion-title>
  </ion-navbar>

</ion-header>


<ion-content class="result">
	<div>
		<ion-item color="card">
			<span class="leaguename">{{leaguename}}</span>
			<span class="sporttype"> a {{sporttype}} league</span>
		</ion-item>
	</div>
	<ion-list *ngIf="uppertype == 'FOOTBALL'">
		<ion-list-header color="card">
			<ion-row>
				<ion-col class="listheader">Fixture</ion-col>
				<ion-col class="listheader">Match result</ion-col>
			</ion-row>
		</ion-list-header>
		<div *ngFor="let fixture of fixtures,let i = index" class="fixturediv">
			<ion-row class="fixturerow">
				<ion-col class="fixturecol">
					{{fixture.teamone}}<br>
					VS<br>
					{{fixture.teamtwo}}<br>
					On<br>
					{{fixture.eventdate}}<br>
				</ion-col>
				<ion-col>
					<div>
						<ion-label>{{fixture.teamone}} scored:</ion-label>
						<ion-input class="datainput" [(ngModel)]="teamonescore[i]" value="teamonescore[i]" placeholder="{{fixture.teamonescore}}"></ion-input>
					</div>
					<div>
						<ion-label>{{fixture.teamtwo}} scored:</ion-label>
						<ion-input class="datainput" [(ngModel)]="teamtwoscore[i]" value="teamtwoscore[i]" placeholder="{{fixture.teamtwoscore}}"></ion-input>
					</div>
				</ion-col>
			</ion-row>
			<ion-row *ngIf="teamonescore[i] && teamtwoscore[i] && !scoresaved[i]">
				<ion-col>
					<button ion-button full (click)="updatematchResult(i)">Save Score</button>
				</ion-col>
				<ion-col>
					<button ion-button block outline color="red" (click)="cancel(i)" >Cancel</button>
				</ion-col>
			</ion-row>
		</div>
	</ion-list>
</ion-content>
