page-newleague {

	.league {
		background-color: #212121;
	}
	.item-md.item-block .item-inner{
		border-bottom: none;
	}
	.select-md {
		color: orange;
	}
	.datetime-md {
		color: orange;
	}
	.text-input-md {
		color: orange;
	}
}
