page-footballscore {


	.colfour {
		text-align: left;
		padding-left: 15px !important;
	}
	.datainput {
		background-color: black;
	}
	.post-button {
		background-color: yellow;
		color: black;
	}
	.footballlabel{
		color: yellow;
	}
}
