<div [ngSwitch] = "crickettype">
	<div *ngSwitchCase = "'odi'">
		<div>
			<ion-card color="card">
				<ion-row>
					<ion-col col-4 class="colfour">
						<ion-label class="cricketlabel">Team 1:</ion-label>
					</ion-col>
					<ion-col col-8>
						<ion-input class="datainput" value="teamone" [(ngModel)] = "teamone" placeholder="Enter team 1 name..."></ion-input>
					</ion-col>
				</ion-row>
				<ion-row>
					<ion-col col-4 class="colfour">
						<ion-label class="cricketlabel">Team 2:</ion-label>
					</ion-col>
					<ion-col col-8>
						<ion-input class="datainput" value="teamtwo" [(ngModel)] = "teamtwo" placeholder="Enter team 2 name..."></ion-input>
					</ion-col>
				</ion-row>
			</ion-card>
		</div>
		<ion-card color="card">
			<ion-row>
				<ion-col class="toss">
					<ion-label class="cricketlabel">Who won toss ?</ion-label>
					<ion-select [(ngModel)] = "tosswon" >
						<ion-option value = "teamone">{{teamone}}</ion-option>
						<ion-option value="teamtwo">{{teamtwo}}</ion-option>
					</ion-select>
				</ion-col>
				<ion-col class="toss">
					<ion-label class="cricketlabel">Elected what ?</ion-label>
					<ion-select [(ngModel)] = "elected" >
						<ion-option value="batting">Bat First</ion-option>
						<ion-option value="bowling">Ball First</ion-option>
					</ion-select>
				</ion-col>
			</ion-row>
		</ion-card>
		<div *ngIf="(tosswon == 'teamone' && elected == 'batting') || (tosswon == 'teamtwo' && elected == 'bowling')">					
			<ion-card color="card">
				<ion-row>
					<ion-col col-4 class="colfour">
						<ion-label class="cricketlabel">Runs scored:</ion-label>
					</ion-col>
					<ion-col col-8>
						<ion-input class="datainput" value="runsscored" [(ngModel)] = "runsscored" placeholder="{{teamone}} runs scored..."></ion-input>
					</ion-col>
				</ion-row>
				<ion-row>
					<ion-col col-4 class="colfour">
						<ion-label class="cricketlabel">Wicket Fallen:</ion-label>
					</ion-col>
					<ion-col col-8>
						<ion-input class="datainput" value="wickets" [(ngModel)] = "wickets" placeholder="{{teamone}} wicket loss..."></ion-input>
					</ion-col>
				</ion-row>
				<ion-row>
					<ion-col col-4 class="colfour">
						<ion-label class="cricketlabel">Over bowled:</ion-label>
					</ion-col>
					<ion-col col-8>
						<ion-input class="datainput" value="overs" [(ngModel)] = "overs" placeholder="{{teamtwo}} over bowled..."></ion-input>
					</ion-col>
				</ion-row>
			</ion-card>
		</div>
		<div *ngIf="(tosswon == 'teamtwo' && elected == 'batting') || (tosswon == 'teamone' && elected == 'bowling')">						
			<ion-card  color="card">
				<ion-row>
					<ion-col col-4 class="colfour">
						<ion-label class="cricketlabel">Runs scored:</ion-label>
					</ion-col>
					<ion-col col-8>
						<ion-input class="datainput" value="runsscored" [(ngModel)] = "runsscored" placeholder="{{teamtwo}} runs scored..."></ion-input>
					</ion-col>
				</ion-row>
				<ion-row>
					<ion-col col-4 class="colfour">
						<ion-label class="cricketlabel">Wicket Fallen:</ion-label>
					</ion-col>
					<ion-col col-8>
						<ion-input class="datainput" value="wickets" [(ngModel)] = "wickets" placeholder="{{teamtwo}} wicket loss..."></ion-input>
					</ion-col>
				</ion-row>
				<ion-row>
					<ion-col col-4 class="colfour">
						<ion-label class="cricketlabel">Over bowled:</ion-label>
					</ion-col>
					<ion-col col-8>
						<ion-input class="datainput" value="overs" [(ngModel)] = "overs" placeholder="{{teamone}} over bowled..."></ion-input>
					</ion-col>
				</ion-row>
			</ion-card>
		</div>	
		
		<ion-card color="card">
			<button class="post-button" (click)="odiScore()" ion-button full>Post</button>
		</ion-card>
		<ion-card color="card">
			<button ion-button color="danger" full clear (click)="onDismiss()">Cancel</button>
		</ion-card>
	</div>


	<div *ngSwitchCase = "'test'">	<!-- Test cricket score post -->				
		<ion-card color="card">
			<ion-row>
				<ion-col col-4 class="colfour">
					<ion-label class="cricketlabel">Team 1:</ion-label>
				</ion-col>
				<ion-col col-8>
					<ion-input class="datainput" value="teamone" [(ngModel)] = "teamone" placeholder="Enter team 1 name..."></ion-input>
				</ion-col>
			</ion-row>
		</ion-card>
		<ion-card color="card">
			<ion-row>
				<ion-col col-4 class="colfour">
					<ion-label class="cricketlabel">Team 2:</ion-label>
				</ion-col>
				<ion-col col-8>
					<ion-input class="datainput" value="teamtwo" [(ngModel)] = "teamtwo" placeholder="Enter team 2 name..."></ion-input>
				</ion-col>
			</ion-row>
		</ion-card>
		<ion-card color="card">
			<ion-item>
				<ion-label class="cricketlabel">Test No:</ion-label>
				<ion-select [(ngModel)] = "testno" >
					<ion-option value = "Test 1">Test No 1</ion-option>
					<ion-option value = "Test 2">Test No 2</ion-option>
					<ion-option value = "Test 3">Test No 3</ion-option>
					<ion-option value = "Test 4">Test No 4</ion-option>
					<ion-option value = "Test 5">Test No 5</ion-option>
				</ion-select>
			</ion-item>
		</ion-card>
		<ion-card *ngIf = "testno != null" color="card">
			<ion-item> <!-- ion-item is needed to restrict clickable area otherwise entire page getting selected which made pain in the a*s for some time -->
				<ion-label class="cricketlabel">Batting Team:</ion-label>
				<ion-select [(ngModel)] = "battingteam" >
					<ion-option value = "teamone">{{teamone}}</ion-option>
					<ion-option value = "teamtwo">{{teamtwo}}</ion-option>
				</ion-select>
			</ion-item>
		</ion-card>
		<ion-card *ngIf="testno != null" color="card">
			<ion-item>
				<ion-label class="cricketlabel">Innings No:</ion-label>
				<ion-select [(ngModel)] = "inningsno" >
					<ion-option value = "Innings 1">Innings No 1</ion-option>
					<ion-option value = "Innings 2">innings No 2</ion-option>
				</ion-select>
			</ion-item>
		</ion-card>
		<ion-card *ngIf = "battingteam == 'teamone'" color="card">
			<ion-row>
				<ion-col col-4 class="colfour">
					<ion-label class="cricketlabel">Runs scored:</ion-label>
				</ion-col>
				<ion-col col-8>
					<ion-input class="datainput" value="runsscored" [(ngModel)] = "runsscored" placeholder="{{teamone}} runs scored..."></ion-input>
				</ion-col>
			</ion-row>
			<ion-row>
				<ion-col col-4 class="colfour">
					<ion-label class="cricketlabel">Wicket Fallen:</ion-label>
				</ion-col>
				<ion-col col-8>
					<ion-input class="datainput" value="wickets" [(ngModel)] = "wickets" placeholder="{{teamone}} wicket lost..."></ion-input>
				</ion-col>
			</ion-row>
		</ion-card>
		<ion-card *ngIf = "battingteam == 'teamtwo'" color="card">
			<ion-row>
				<ion-col col-4 class="colfour">
					<ion-label class="cricketlabel">Runs scored:</ion-label>
				</ion-col>
				<ion-col col-8>
					<ion-input class="datainput" value="runsscored" [(ngModel)] = "runsscored" placeholder="{{teamtwo}} runs scored..."></ion-input>
				</ion-col>
			</ion-row>
			<ion-row>
				<ion-col col-4 class="colfour">
					<ion-label class="cricketlabel">Wicket Fallen:</ion-label>
				</ion-col>
				<ion-col col-8>
					<ion-input class="datainput" value="wickets" [(ngModel)] = "wickets" placeholder="{{teamtwo}} wicket lost..."></ion-input>
				</ion-col>
			</ion-row>
		</ion-card>
		<ion-card color="card">
			<button class="post-button" (click)="testScore()" ion-button full>Post</button>
		</ion-card>
		<ion-card color="card">
			<button ion-button color="danger" full clear (click)="onDismiss()">Cancel</button>
		</ion-card>
	</div>
</div>