
page-clubprofile{

	.card-background-page {

		background: #f4f4f4;

		.scroll-content {
			padding: 0px;
		}

		ion-card {
			position: relative;
			text-align: center;
			margin: 0px;
			margin-top:5px; 
			padding: 0px;
			width: 100%;
		}
		
		.profilepic {
			position: absolute;
			top: 60%;
			left: 2%;
			width: 60px;
			height:60px;
			border-radius: 2px;
			border:2px solid white;
		}
		.profilepic{
			img{
				height: 60px;
			}
		}

		.card-title {
			position: absolute;
			top: 20%;
			font-size: 2.0em;
			width: 100%;
			font-weight: bold;
			color: #fff;
		}

		.card-subtitle {
			font-size: 1.0em;
			position: absolute;
			top: 36%;
			width: 100%;
			color: #fff;
		}

		.followerfont ,.followingfont {
			text-transform: none;
			font-weight: 100;
		}
		.followfont{
			text-transform: none;
			font-weight: 100;
			padding: 2px;
		}
		.followfont:hover{
			background-color: blue;
			color: white;
		}

	}

}
