
<ion-header>
	<ion-navbar>
		<ion-title>Clubprofile</ion-title>
		<ion-buttons end>
	      <button *ngIf="compareUser()" ion-button (click)="onLogout()">Logout</button>
	    </ion-buttons>
	</ion-navbar>
</ion-header>


<ion-content class="card-background-page">
	<ion-card>
	    <img src="../../assets/img/img4.jpg"/>
	    <div class="card-title">{{userId}}</div>
	    <p class="card-subtitle">We care our players..</p>
	    <ion-card class="profilepic">
	    	<img src="../../assets/img/img5.jpg">
	    </ion-card>
	</ion-card>
 	<ion-card>
	 	<ion-row *ngIf="!sameuser()">
	      <ion-col col-4>
	        <button ion-button icon-left clear small class="followerfont">
	          <ion-icon name="people"></ion-icon>
	          <ion-note>1k Followers</ion-note>
	        </button>
	      </ion-col>
	      <ion-col col-4>
	        <button ion-button icon-left clear small class="followingfont">
	          <ion-icon name="people"></ion-icon>
	          <ion-note>50 Following</ion-note>
	        </button>
	      </ion-col>
	      <ion-col col-4>
	        <button *ngIf="!following" ion-button icon-left small outline class="followfont" (click)=follow() >
	          <ion-icon name="person"></ion-icon>
	          Follow
	        </button>
	        <button *ngIf="following" ion-button icon-left small outline color="danger" class="unfollowfont" (click)=unfollow() >
	          <ion-icon name="person"></ion-icon>
	          Unfollow
	        </button>
	      </ion-col>
	    </ion-row>
	    <ion-row *ngIf="sameuser()">
		    <ion-col col-6>
		        <button ion-button icon-left clear small class="followerfont">
		          <ion-icon name="people"></ion-icon>
		          <ion-note>1k Followers</ion-note>
		        </button>
		      </ion-col>
		      <ion-col col-6>
		        <button ion-button icon-left clear small class="followingfont">
		          <ion-icon name="people"></ion-icon>
		          <ion-note>50 Following</ion-note>
		        </button>
		      </ion-col>
	    </ion-row>
 	</ion-card>

 	<ion-card >
	  <ion-toolbar no-border-top>
	    <ion-segment [(ngModel)]="clubprofile" style="background-color: #fff">
	      <ion-segment-button value="relatedposts" class="middlenavbar">
	        Posts
	      </ion-segment-button>
	      <ion-segment-button value="moments"  class="middlenavbar">
	        Moments
	      </ion-segment-button>
	      <ion-segment-button value="achievements"  class="middlenavbar">
	        Memories
	      </ion-segment-button>
	      <ion-segment-button value="players"  class="middlenavbar">
	        Players
	      </ion-segment-button>
	    </ion-segment>
	  </ion-toolbar>
 	</ion-card>


  <div [ngSwitch]="clubprofile">

    <div *ngSwitchCase="'relatedposts'">
    	<page-allposts [userId]="userId"></page-allposts>
    </div>

    <div *ngSwitchCase="'moments'">      
    	<page-moments></page-moments>
    </div>

    <div *ngSwitchCase="'achievements'">
    	<page-achieve></page-achieve>
    </div>
    <div *ngSwitchCase="'players'">
    	<p>Our players</p>
    </div>

  </div>

	

</ion-content>
